{% comment %}
	This snippet prints an example box

	Usage:
		{% include exampleBox.liquid %}

	Return:
		HTML direct output

	Required:
		{{ ID }}           [string]    ID of module
		{{ category }}     [string]    Name of category for links
		{{ thisVersion }}  [string]    Version string
		{{ count }}        [integer]   Counter to keep IDs unique
		{{ example }}      [variable]  Example code
		{{ whatsnew }}     [variable]  What's new tab
		{{ HTML }}         [variable]  HTML tab
		{{ CSS }}          [variable]  CSS tab [optional]
		{{ LESS }}         [variable]  LESS tab [optional]
		{{ JS }}           [variable]  JS tab [optional]
{% endcomment %}


{% capture IDwhatsnew %}{{ ID }}-{{ thisVersion | handleize }}whatsnew{% endcapture %}
{% capture IDhtml %}{{ ID }}-{{ thisVersion | handleize }}html{% endcapture %}
{% capture IDcss %}{{ ID }}-{{ thisVersion | handleize }}css{% endcapture %}
{% capture IDless %}{{ ID }}-{{ thisVersion | handleize }}less{% endcapture %}
{% capture IDjs %}{{ ID }}-{{ thisVersion | handleize }}js{% endcapture %}

{% assign descriptionHandle = description | handleize %}
{% assign exampleHandle = example | handleize %}
{% assign WHATSNEWHandle = whatsnew | handleize %}
{% assign HTMLHandle = HTML | handleize %}
{% assign CSSHandle = CSS | handleize %}
{% assign LESSHandle = LESS | handleize %}
{% assign JSHandle = JS | handleize %}

{% assign count = count | plus: 1 %}

{% comment %}
	ASSIGN TAB CONTENT
{% endcomment %}
{% capture WHATSNEWtab %}
	<div class="example-tabcontent-content">
		{{ whatsnew }}
	</div>
{% endcapture %}

{% capture HTMLtab %}
	{% highlight html linenos=table %}
		{{ HTML }}
	{% endhighlight %}
{% endcapture %}

{% capture CSStab %}
	<div class="example-tabcontent-content">
		{% if CSSHandle.size > 2 %}
			<h4 class="body-font">CSS</h4>
			{{ CSS }}
		{% endif %}

		{% if LESSHandle.size > 2 %}
			<h4 class="body-font">LESS</h4>
			{{ LESS }}
		{% endif %}
	</div>
{% endcapture %}

{% comment %}{% capture LESStab %}
	<div class="example-tabcontent-content">
		{{ LESS }}
	</div>
{% endcapture %}{% endcomment %}

{% capture JStab %}
	<div class="example-tabcontent-content">
		{{ JS }}
	</div>
{% endcapture %}

{% assign allTabs = 0 %}
{% if exampleHandle.size > 2 %}{% assign allTabs = allTabs | plus: 1 %}{% endif %}
{% if WHATSNEWHandle.size > 2 %}{% assign allTabs = allTabs | plus: 1 %}{% endif %}
{% if HTMLHandle.size > 2 %}{% assign allTabs = allTabs | plus: 1 %}{% endif %}
{% if CSSHandle.size > 2 or LESSHandle.size > 2 %}{% assign allTabs = allTabs | plus: 1 %}{% endif %}
{% comment %}{% if LESSHandle.size > 2 %}{% assign allTabs = allTabs | plus: 1 %}{% endif %}{% endcomment %}
{% if JSHandle.size > 2 %}{% assign allTabs = allTabs | plus: 1 %}{% endif %}

{% comment %}
	IF THERE IS ONLY ONE TAB AND NO EXAMPLE SHOW THE TAB INSIDE THE BOX ALWAYS OPEN
{% endcomment %}
{% if allTabs == 1 %}

	{% if exampleHandle.size > 2 %}{% assign BoxContent = example %}{% endif %}
	{% if WHATSNEWHandle.size > 2 %}{% assign BoxContent = WHATSNEWtab %}{% endif %}
	{% if HTMLHandle.size > 2 %}{% assign BoxContent = HTMLtab %}{% endif %}
	{% if CSSHandle.size > 2 or LESSHandle.size > 2 %}{% assign BoxContent = CSStab %}{% endif %}
	{% comment %}{% if LESSHandle.size > 2 %}{% assign BoxContent = LESStab %}{% endif %}{% endcomment %}
	{% if JSHandle.size > 2 %}{% assign BoxContent = JStab %}{% endif %}

	<div class="example-box"{% unless exampleHandle.size > 2 %} style="overflow: auto;"{% endunless %}>{{ BoxContent }}</div>

{% comment %}
	OTHERWISE JUST DO THE USUAL BOX ON TOP AND TABS BELOW
{% endcomment %}
{% else %}

	{% if exampleHandle.size > 2 %}
		<div class="example-box">{{ example }}</div>
	{% endif %}

	<div class="example-tabs-wrapper js-exampletabs">
		<ul class="example-tabs">
			{% if WHATSNEWHandle.size > 2 %}
				<li class="example-tab example-tab-link-new">
					<a class="example-tab-link js-exampletab" href="{{ category }}/#{{ IDwhatsnew }}{{ count }}">What&rsquo;s New</a>
				</li>
			{% endif %}
			{% if HTMLHandle.size > 2 %}
				<li class="example-tab example-tab-ltml">
					<a class="example-tab-link js-exampletab" href="{{ category }}/#{{ IDhtml }}{{ count }}">HTML</a>
				</li>
			{% endif %}
			{% if CSSHandle.size > 2 or LESSHandle.size > 2 %}
				<li class="example-tab example-tab-css">
					<a class="example-tab-link js-exampletab" href="{{ category }}/#{{ IDcss }}{{ count }}">CSS/LESS</a>
				</li>
			{% endif %}
			{% comment %}{% if LESSHandle.size > 2 %}
				<li class="example-tab example-tab-less">
					<a class="example-tab-link js-exampletab" href="{{ category }}/#{{ IDless }}{{ count }}">LESS</a>
				</li>
			{% endif %}{% endcomment %}
			{% if JSHandle.size > 2 %}
				<li class="example-tab example-tab-js">
					<a class="example-tab-link js-exampletab" href="{{ category }}/#{{ IDjs }}{{ count }}">JS</a>
				</li>
			{% endif %}
		</ul>

		{% if WHATSNEWHandle.size > 2 %}
			<div class="example-tabcontent js-examplecontent" id="{{ IDwhatsnew }}{{ count }}">
				<div class="example-tabcontent-wrapper">
					{{ WHATSNEWtab }}
				</div>
			</div>
		{% endif %}
		{% if HTMLHandle.size > 2 %}
			<div class="example-tabcontent js-examplecontent" id="{{ IDhtml }}{{ count }}">
				<div class="example-tabcontent-wrapper">
					{% highlight html linenos=table %}
						{{ HTML }}
					{% endhighlight %}
				</div>
			</div>
		{% endif %}
		{% if CSSHandle.size > 2 or LESSHandle.size > 2 %}
			<div class="example-tabcontent js-examplecontent" id="{{ IDcss }}{{ count }}">
				<div class="example-tabcontent-wrapper">
					{{ CSStab }}
				</div>
			</div>
		{% endif %}
		{% comment %}{% if LESSHandle.size > 2 %}
			<div class="example-tabcontent js-examplecontent" id="{{ IDless }}{{ count }}">
				<div class="example-tabcontent-wrapper">
					{{ LESStab }}
				</div>
			</div>
		{% endif %}{% endcomment %}
		{% if JSHandle.size > 2 %}
			<div class="example-tabcontent js-examplecontent" id="{{ IDjs }}{{ count }}">
				<div class="example-tabcontent-wrapper">
					{{ JStab }}
				</div>
			</div>
		{% endif %}
	</div>
{% endif %}