{% comment %}
	This snippet prints an iframe if the param is meant to be one… hopefully

	Usage:
		{% include makeiFrame.liquid  ex = example  controls = true %}

	Return:
		{{ iFrame }}  [string]  Content in either an iframe or direct

	Required:
		{{ ex }}           [string]  The content to be either iframe or not. If it starts with "ex" it is an iframe…
		{{ controls }}     [boolean]   Whether or not the iframe should sport controls for responsiveness (true be default)
		{{ ID }}           [string]  ID of module
		{{ thisVersion }}  [string]  Version string
		{{ thisModule }}   [array]   This modules GUI.json object
		{{ category }}     [string]  The name of the category in the GUI.json
{% endcomment %}


{% assign example = include.ex %}
{% assign _hasControls = true %}
{% if include.controls == false %}
	{% assign _hasControls = false %}
{% endif %}

{% assign iFrame = '' %}
{% assign Brand = page.brand %}
{% assign _isiFrame = example | startwith: 'ex' %}
{% assign lastVersion = '1.0.0' %}

{% for version in thisModule.versions %}
	{% assign lastVersion = version[0] %}
{% endfor %}

{% comment %}
	Make iframe url relative
{% endcomment %}
{% assign pageDepth = page.weight | split: '.' %}
{% assign pageDepth = pageDepth.size | minus: 1 %}
{% assign relativePath = '' %}
{% for i in (1..pageDepth) %}
	{% capture relativePath %}../{{ relativePath }}{% endcapture %}
{% endfor %}

{% capture iFrameURL %}{{ relativePath }}{{ Brand }}/examples/{{ ID }}/{{ thisVersion }}/{{ example }}/example/?v=[Version]{% endcapture %}
{% capture demoURL %}{{ relativePath }}{{ Brand }}/examples/{{ ID }}/{{ thisVersion }}/{{ example }}/demo/?v=[Version]{% endcapture %}


{% if _isiFrame %}
	{% comment %}
		IF THE CONTROLS ARE SWITCHED ON, SHOW THE DEMO BUTTON
	{% endcomment %}
	{% if _hasControls %}

		<a href="{{ demoURL }}" class="example-btn btn btn-sm btn-faint btn-soft" target="_blank">
			<span class="btn-text">Demo</span>
			<span class="btn-icon icon icon-size-sm icon-new-window"></span>
		</a>
	{% endif %}

	{% comment %}
		SHOW EITHER THE IFRAME OR A LINK TO THE IFRAME FOR LAZY LOADING
	{% endcomment %}
	{% if thisVersion == lastVersion %}
		{% capture iFrame %}
			<iframe class="example-box-iframe js-iframe{% if _hasControls %}
				js-iframe-controls
			{% endif %}" src="{{ iFrameURL }}"></iframe>
		{% endcapture %}
	{% else %}
		{% capture iFrame %}
			<a class="example-box-iframelink js-iframelink{% if _hasControls %}
				js-iframe-controls
			{% endif %}" href="{{ iFrameURL }}" target="_blank">
				<span class="icon icon-size-lg icon-loading"></span>
				loading example&hellip;
			</a>
		{% endcapture %}
	{% endif %}
{% else %}
	{% assign iFrame = example %}
{% endif %}