{% comment %}
	This snippet spits out the HTML navigation derived from the front matter settings in your markdown files.
	https://gist.github.com/dominikwilkowski/c7d916c9b36e4eebbc90

	Usage:
		{% include navigation.liquid  brand = "BOM" %}

	Return:
		HTML direct output

	Required:
		Front matter needs this element:
			---
			weight: "010.030.020"
			---
{% endcomment %}


{% assign brand = include.brand %}
{% assign pages = site.pages | sort: "weight" %}
{% assign rootLevel = page.weight %}

{% assign hidden = page.weight | split: "-" %}
{% if hidden.size > 1 %}
	{% assign rootLevel = '0' %}
{% endif %}

{% assign levels = rootLevel | split: "." %}
{% assign levels = levels.size %}

{% assign minLevel = levels | minus: 1 %}
{% if minLevel < 1 %}{% assign minLevel = 1 %}{% endif %}
{% assign maxLevel = levels | plus: 1 %}

{% assign parentLevel = rootLevel | split: "." | remove_last | join: "." %}
{% if levels <= 1 %}{% assign parentLevel = rootLevel %}{% endif %}
{% assign superParentLevel = rootLevel | split: "." | remove_last | remove_last | join: "." %}
{% if levels <= 1 %}{% assign superParentLevel = rootLevel %}{% endif %}

{% assign level = 0 %}

{% assign _isFirst = true %}


{% comment %}brand: {{ brand }}<br>
startwith: {{ rootLevel | startwith: rootLevel }}<br>
rootlevel: {{ rootLevel }}<br>
parentlevel: {{ parentLevel }}<br>
levels: {{ levels }}<br>
minLevel: {{ minLevel }}<br>
maxLevel: {{ maxLevel }}{% endcomment %}

<nav class="navigation-wrapper">
	<ul class="navigation navigation-level1 current-level{{ levels }}">
		{% for thisPage in pages %}

			{% comment %}
				CHECK IF HIDDEN PAGE
			{% endcomment %}
			{% assign hidden = thisPage.weight | split: "-" %}


			{% comment %}
				CHECK IF HIDDEN PAGE
			{% endcomment %}
			{% if hidden.size <= 1 %}
				{% assign _isShown = true %}
			{% else %}
				{% assign _isShown = false %}
			{% endif %}


			{% comment %}
				GETTING CURRENT LEVEL
			{% endcomment %}
			{% assign thisLevel = thisPage.weight | split: "." %}
			{% assign thisLevel = thisLevel.size %}


			{% comment %}
				GETTING RELATION STATUS
			{% endcomment %}
			{% assign _isSibling = thisPage.weight | startwith: rootLevel %}

			{% if thisPage.weight == parentLevel %}
				{% assign _isParent = true %}
				{% assign _isThislevel = true %}
			{% else %}
				{% assign _isParent = false %}
				{% assign _isThislevel = false %}
			{% endif %}


			{% comment %}
				IF THIS IS A PARENT OF A MAXLEVEL
			{% endcomment %}
			{% if minLevel > 1 and thisLevel != 3 and _isThislevel == false %}
				{% assign _isIndented = false %}
			{% else %}
				{% assign _isIndented = true %}
			{% endif %}


			{% comment %}
				IF THIS IS WITHIN THE LEVELS WE ALLOW
			{% endcomment %}
			{% if thisLevel >= minLevel and thisLevel < maxLevel and _isIndented %}
				{% assign _isMidLevel = true %}
			{% else %}
				{% assign _isMidLevel = false %}
			{% endif %}


			{% comment %}
				IF THIS IS THE MAXIMUM LEVEL BUT ONLY IF THIS IS A SIBLING OF THE PARENT
			{% endcomment %}
			{% if thisLevel >= minLevel and thisLevel == maxLevel and _isSibling and _isIndented %}
				{% assign _isMaxLevel = true %}
			{% else %}
				{% assign _isMaxLevel = false %}
			{% endif %}


			{% comment %}
				SHOW ONLY BRAND PAGES
			{% endcomment %}
			{% capture brandPath %}/{{ brand | strip_newlines }}{% endcapture %}
			{% assign _isBrand = thisPage.url | startwith: brandPath %}

			{% if _isBrand %}
			{% else %}
				{% assign _isShown = false %}
			{% endif %}


			{% comment %}
				SHOW
			{% endcomment %}
			{% if _isShown %}


				{% comment %}
					SHOW ONLY THIS SECTION
				{% endcomment %}
				{% if _showAll or _isMidLevel or _isMaxLevel %}

					{% comment %}
						SAME LEVEL
					{% endcomment %}
					{% if level == thisLevel %}
						</li>
					{% endif %}


					{% comment %}
						NEXT HIGHER LEVEL
					{% endcomment %}
					{% if level < thisLevel and level != 0 %}
						<ul class="navigation-subnav navigation-level{{ thisLevel }}">
					{% endif %}


					{% comment %}
						NEXT LOWER LEVEL
					{% endcomment %}
					{% if level > thisLevel %}
								</li>
							</ul>
						</li>
					{% endif %}


					{% comment %}
						FIND PARENT LEVELS
					{% endcomment %}
					{% assign parentClass = "" %}
					{% case thisLevel %}
						{% when 1 %}
							{% if parentLevel == thisPage.weight or superParentLevel == thisPage.weight %}
								{% assign parentClass = " is-parent" %}
							{% endif %}
						{% when 2 %}
							{% if parentLevel == thisPage.weight %}
								{% assign parentClass = " is-active" %}
							{% endif %}
						{% else %}
							{% assign parentClass = "" %}
					{% endcase %}


					{% comment %}
						PARENT ASSIGNMENTS
					{% endcomment %}
					{% assign pageParent = page.parent | handleize %}
					{% assign thisPageParent = thisPage.title | handleize %}
					{% if pageParent == thisPageParent %}
						{% assign parentActiveClass = " is-activeParent" %}
					{% else %}
						{% assign parentActiveClass = "" %}
					{% endif %}


					{% comment %}
						ASSIGN ACTIVE CLASS
					{% endcomment %}
					{% if page.url == thisPage.url %}
						{% assign activeClass = " is-active" %}
					{% else %}
						{% assign activeClass = "" %}
					{% endif %}
					{% if _isFirst %}
						{% assign firstClass = " is-first" %}
						{% assign _isFirst = false %}
					{% else %}
						{% assign firstClass = "" %}
					{% endif %}


					{% comment %}
						MAKING URL RELATIVE
					{% endcomment %}
					{% assign thisUrl = thisPage.url %}
					{% assign urlPrefix = thisUrl | slice: 0, 5 %}
					{% capture urlBrand %}/{{ page.brand }}/{% endcapture %}

					{% if urlPrefix == urlBrand %}
						{% assign thisUrl = thisUrl | slice: 5, thisUrl.size %}
					{% endif %}
					{% if thisUrl == '' %}
						{% assign thisUrl = '.' %}
					{% endif %}


					{% comment %}
						OUTPUT THE LINK
					{% endcomment %}
					<li class="navigation-item{{ activeClass }}{{ parentClass }}{{ parentActiveClass }}{{ firstClass }} item-{{ thisPage.title | handleize }}">
						<a class="navigation-link{% if page.url == thisPage.url %} is-active{% endif %}" href="{{ thisUrl }}">
							{{ thisPage.title }}
						</a>

						{% comment %}{% if thisPage.anchors.size and page.url == thisPage.url %}
							<ul class="navigation-anchors js-scrolls">
								{% for anchor in thisPage.anchors %}
									<li class="navigation-anchor">
										<a class="navigation-anchor-link js-scroll" href="{{ anchor[1] }}">{{ anchor[0] }}</a>
									</li>
								{% endfor %}
							</ul>
						{% endif %}{% endcomment %}


					{% comment %}
						ASSIGNING CURRENT LEVEL
					{% endcomment %}
					{% assign level = thisLevel %}

				{% endif %}

			{% endif %}

		{% endfor %}


		{% comment %}
			CLOSING ALL LI AND UL
		{% endcomment %}
		{% if level > 1 %}

			{% if levels > 2 and brand != "all" %}
				{% assign level = level | minus: 1 %}
			{% endif %}

			{% for item in (2..level) %}
					</li>
				</ul>
			{% endfor %}
		{% endif %}

		</li>
	</ul>
</nav>