{% comment %}
	This snippet prints the Blender form

	Usage:
		{% include showBlender.liquid %}

	Return:
		HTML direct output

	Required:
		site.data.GUI  [jekyll data object]  The GUI.json in jekylls _data folder
{% endcomment %}


{% comment %}Set the file-server url depending on the local environment{% endcomment %}
{% if "[Debug]" == "true" %}
	{% assign server = 'http://localhost' %}
	{% assign exclude = '' %}
	{% assign exclude2 = '_core' %}
{% else %}
	{% assign server = 'http://128.199.237.107' %}
	{% assign exclude = '_testing' %}
	{% assign exclude2 = '_core' %}
{% endif %}

{% comment %}Print the form{% endcomment %}
<section class="blender">
	<div class="row">
		<div class="col-sm-12 text-right">
			<button class="btn btn-primary btn-soft js-blender-clear blender-button-clear">Clear selections</button>
		</div>
	</div>

	<form class="blender-form js-blender" method="POST" action="{{ server }}:8080/blender">
		{% for category in site.data.GUI.modules %}
			{% if category[0] != exclude and category[0] != exclude2 %}
				<fieldset class="blender-category">
					<div class="row">
						<div class="col-md-4">
							<legend class="blender-category-headline content-h">{{ category[0] }}</legend>
						</div>

						<div class="col-md-8">
							<ul class="blender-modules">
								{% for module in category[1] %}
									{% comment %}
										checking for fixed elements
									{% endcomment %}
									{% if module[1].core %}
										{% assign _isCore = true %}
									{% else %}
										{% assign _isCore = false %}
									{% endif %}

									{% assign _isIcons = module[1].ID | startwith: "icons-group" %}

									{% capture link %}<a class="blender-module-link" href="{{ module[1].category | handleize }}/#{{ module[1].ID }}">view</a>{% endcapture %}

									<li class="blender-module row">
										<div class="col-sm-5 blender-module-text">
											<label for="{{ module[1].ID }}">
												<strong class="blender-module-name
													{% unless _isIcons %}is-block{% endunless %}
												">{{ module[1].name }}</strong>
											</label>{% if _isIcons %}{{ link }}{% endif %}
											<label for="{{ module[1].ID }}">
												<span class="blender-module-description
													{% if _isIcons %}is-block{% endif %}
												">{{ module[1].description }}</span>
											</label>
											{% unless _isIcons %}{{ link }}{% endunless %}
											{% if _isCore %}
												<label class="blender-module-core text-info" for="{{ module[1].ID }}">
													This core module is always added.
												</label>
											{% endif %}
										</div>

										<div class="col-sm-7 text-right">
											{% include showVersionDropdown.liquid  mod = module  layout = 'blender' %}
										</div>
									</li>

								{% endfor %}
							</ul>
						</div>
					</div>
				</fieldset>
			{% endif %}
		{% endfor %}

		<fieldset class="blender-category">
			<div class="row">
				<div class="col-md-8 col-md-offset-4">
					<ul class="blender-modules blender-modules-options">

						<li class="blender-module row">
							<div class="col-sm-5 blender-module-text">
								<label class="blender-module-label" for="includeJquery">
									Include jQuery in your blend?
								</label>
							</div>
							<div class="col-sm-7 text-right">
								<label class="switch">
									<input type="checkbox" class="switch-input js-blender-option" name="includeJquery" id="includeJquery" checked="checked">

									<span class="switch-text">
										Turn this setting:
										<span class="switch-text-off">No</span>
										<span class="switch-text-on">Yes</span>
									</span>
								</label>
							</div>
						</li>

						<li class="blender-module row">
							<div class="col-sm-5 blender-module-text">
								<label class="blender-module-label" for="includeUnminifiedJS">
									Include unminified JavaScript in your blend?
								</label>
							</div>
							<div class="col-sm-7 text-right">
								<label class="switch">
									<input type="checkbox" class="switch-input js-blender-option" name="includeUnminifiedJS" id="includeUnminifiedJS">

									<span class="switch-text">
										Turn this setting:
										<span class="switch-text-off">No</span>
										<span class="switch-text-on">Yes</span>
									</span>
								</label>
							</div>
						</li>

						<li class="blender-module row">
							<div class="col-sm-5 blender-module-text">
								<label class="blender-module-label" for="includeLess">
									Include the LESS files in your blend?
								</label>
							</div>
							<div class="col-sm-7 text-right">
								<label class="switch">
									<input type="checkbox" class="switch-input js-blender-option" name="includeLess" id="includeLess">

									<span class="switch-text">
										Turn this setting:
										<span class="switch-text-off">No</span>
										<span class="switch-text-on">Yes</span>
									</span>
								</label>
							</div>
						</li>

						<li class="blender-module row">
							<div class="col-sm-5 blender-module-text">
								<label class="blender-module-label" for="includeBond">
									Shaken not stirred?
								</label>
							</div>
							<div class="col-sm-7 text-right">
								<label class="switch">
									<input type="checkbox" class="switch-input js-blender-option" name="includeBond" id="includeBond">

									<span class="switch-text">
										Turn this setting:
										<span class="switch-text-off">No</span>
										<span class="switch-text-on">Yes</span>
									</span>
								</label>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</fieldset>

		<div class="row">
			<div class="col-sm-12 blender-action text-right">
				<input type="hidden" name="brand" value="{{ page.brand }}">

				<button type="submit" class="btn btn-primary btn-xl blender-submit js-blender-submit">
					<span class="btn-text">Blend</span>
					<span class="btn-icon icon icon-size-md icon-download" data-grunticon-embed></span>
					<span class="btn-icon icon icon-size-md icon-refresh" data-grunticon-embed style="display:none;"></span>
				</button>
			</div>
		</div>
	</form>
</section>