{% comment %}
	This snippet prints the Blender form

	Usage:
		{% include showBlender.liquid %}

	Return:
		HTML direct output

	Required:
		site.data.GUI  [jekyll data object]  The GUI.json in jekylls _data folder
{% endcomment %}


{% comment %}Set the file-server url depending on the local environment{% endcomment %}
{% if "[Debug]" == "true" %}
	{% assign server = 'http://localhost:1337' %}
	{% assign exclude = '' %}
	{% assign exclude2 = '_core' %}
{% else %}
	{% assign server = 'https://gel.westpacgroup.com.au/api' %}
	{% assign exclude = '_testing' %}
	{% assign exclude2 = '_core' %}
{% endif %}

{% comment %}Print the form{% endcomment %}
<section class="blender">
	<div class="row">
		<div class="col-sm-12 text-right">
			<button class="btn btn-primary btn-soft js-blender-clear blender-button-clear">Clear selections</button>
		</div>
	</div>

	<form class="blender-form js-blender" method="POST" action="{{ server }}/blender/">
		{% for category in site.data.GUI.modules %}
			{% if category[0] != exclude and category[0] != exclude2 %}
				<fieldset class="blender-category">
					<div class="row">
						<div class="col-md-4">
							<legend class="blender-category-headline content-h">{{ category[0] }}</legend>
						</div>

						<div class="col-md-8">
							<ul class="blender-modules">
								{% for module in category[1] %}
									{% comment %}
										checking for fixed elements
									{% endcomment %}
									{% if module[1].core %}
										{% assign _isCore = true %}
									{% else %}
										{% assign _isCore = false %}
									{% endif %}

									{% assign _isIcons = module[1].ID | startwith: "icons-group" %}

									{% capture link %}<a class="blender-module-link" href="{{ module[1].category | handleize }}/#{{ module[1].ID }}">view</a>{% endcapture %}

									<li class="blender-module row">
										<div class="col-sm-5 blender-module-text">
											<label for="tick-{{ module[1].ID }}">
												<strong class="blender-module-name
													{% unless _isIcons %}is-block{% endunless %}
												">{{ module[1].name }}</strong>
											</label>{% if _isIcons %}{{ link }}{% endif %}
											<label for="tick-{{ module[1].ID }}">
												<span class="blender-module-description
													{% if _isIcons %}is-block{% endif %}
												">{{ module[1].description }}</span>
											</label>
											{% unless _isIcons %}{{ link }}{% endunless %}
											{% if _isCore %}
												<label class="blender-module-core text-info" for="tick-{{ module[1].ID }}">
													This core module is always added.
												</label>
											{% endif %}
										</div>

										<div class="col-sm-7 text-right">
											{% include showVersionDropdown.liquid  mod = module  layout = 'blender' %}
										</div>
									</li>

								{% endfor %}
							</ul>
						</div>
					</div>
				</fieldset>
			{% endif %}
		{% endfor %}

		<fieldset class="blender-category">
			<div class="row">
				<div class="col-md-8 col-md-offset-4">
					<ul class="blender-modules blender-modules-options">

						<li class="blender-module row">
							<div class="col-sm-5 blender-module-text">
								<label class="blender-module-label" for="includeJquery">
									Include jQuery in your blend?
								</label>
							</div>
							<div class="col-sm-7 text-right">
								<label class="switch">
									<input type="checkbox" class="switch-input js-blender-option" name="includeJquery" id="includeJquery" checked="checked">

									<span class="switch-text">
										Include jQuery?
										<span class="switch-text-off">No</span>
										<span class="switch-text-on">Yes</span>
									</span>
								</label>
							</div>
						</li>

						<li class="blender-module row">
							<div class="col-sm-5 blender-module-text">
								<label class="blender-module-label" for="includeUnminifiedJS">
									Include unminified JavaScript in your blend?
								</label>
							</div>
							<div class="col-sm-7 text-right">
								<label class="switch">
									<input type="checkbox" class="switch-input js-blender-option" name="includeUnminifiedJS" id="includeUnminifiedJS">

									<span class="switch-text">
										Include unminified JS?
										<span class="switch-text-off">No</span>
										<span class="switch-text-on">Yes</span>
									</span>
								</label>
							</div>
						</li>

						<li class="blender-module row">
							<div class="col-sm-5 blender-module-text">
								<label class="blender-module-label" for="includeLess">
									Include the LESS files in your blend?
								</label>
							</div>
							<div class="col-sm-7 text-right">
								<label class="switch">
									<input type="checkbox" class="switch-input js-blender-option" name="includeLess" id="includeLess">

									<span class="switch-text">
										Include Less?
										<span class="switch-text-off">No</span>
										<span class="switch-text-on">Yes</span>
									</span>
								</label>
							</div>
						</li>

						<li class="blender-module row">
							<div class="col-sm-5 blender-module-text">
								<label class="blender-module-label" for="includeSVG">
									Include the SVG files in your blend?
								</label>
							</div>
							<div class="col-sm-7 text-right">
								<label class="switch">
									<input type="checkbox" class="switch-input js-blender-option" name="includeSVG" id="includeSVG">

									<span class="switch-text">
										Include SVG?
										<span class="switch-text-off">No</span>
										<span class="switch-text-on">Yes</span>
									</span>
								</label>
							</div>
						</li>

						{% comment %}<li class="blender-module row">
							<div class="col-sm-5 blender-module-text">
								<label class="blender-module-label" for="includePokemon">
									Catch &rsquo;em all?
								</label>
							</div>
							<div class="col-sm-7 text-right">
								<label class="switch">
									<input type="checkbox" class="switch-input js-blender-option" name="includePokemon" id="includePokemon">

									<span class="switch-text">
										Include Pokemon?
										<span class="switch-text-off">No</span>
										<span class="switch-text-on">Yes</span>
									</span>
								</label>
							</div>
						</li>{% endcomment %}
					</ul>

					<div class="alert js-alert alert-info" role="note">
						<span class="alert-icon icon icon-size-md icon-info" data-grunticon-embed></span>

						<div class="alert-body">
							<strong>Web fonts</strong>
							The license agreements for web fonts don&rsquo;t allow us to distribute them in the blender. However, for those who work at Westpac we provide
							an internal link to the web font package for each blend within our internal network. Please click the link supplied in the index page of the blend
							zip and download the webfont from there.
							Make sure you install the files into the <code class="classes">assets/font/</code> folder of your blend.
						</div>
					</div>
				</div>
			</div>
		</fieldset>

		{% if "[Debug]" == "true" %}
			includeBond: <input type="checkbox" name="includeBond"><br>
			includeStarWars: <input type="checkbox" name="includeStarWars"><br>
			includeBowie: <input type="checkbox" name="includeBowie"><br>
			includePokemon: <input type="checkbox" name="includePokemon"><br>
		{% endif %}

		<div class="row">
			<div class="col-sm-12 blender-action text-right">
				{% if "[Debug]" == "true" %}
					<select name="brand">
						{% for brand in site.data.guiconfig.brands %}
							<option value="{{ brand.ID }}">{{ brand.name }}</option>
						{% endfor %}
					</select>
				{% else %}
					<input type="hidden" name="brand" value="{{ page.brand }}">
				{% endif %}

				<button type="submit" class="btn btn-primary btn-xl blender-submit js-blender-submit">
					<span class="btn-text">Blend</span>
					<span class="btn-icon icon icon-size-md icon-download" data-grunticon-embed></span>
					<span class="btn-icon icon icon-size-md icon-refresh" data-grunticon-embed style="display:none;"></span>
				</button>
			</div>
		</div>
	</form>
</section>