{% comment %}
	This snippet prints the blender form

	Usage:
		{% include showBlender.liquid %}

	Return:
		HTML direct output

	Required:
		site.data.GUI  [jekyll data object]  The GUI.json in jekylls _data folder
{% endcomment %}


{% comment %}Set the file-server url depending on the local environment{% endcomment %}
{% if "[Debug]" == "true" %}
	{% assign server = 'http://localhost' %}
	{% assign exclude = '' %}
{% else %}
	{% assign server = 'http://128.199.237.107' %}
	{% assign exclude = '_testing' %}
{% endif %}

{% comment %}Print the form{% endcomment %}
<form class="blender js-blender" method="POST" action="{{ server }}:8080/blender">
	{% for category in site.data.GUI.modules %}
		{% unless category[0] == exclude %}
			<fieldset class="blender-category">
				<legend class="blender-category-headline">{{ category[0] }}</legend>

				<ul class="blender-modules">
					{% for module in category[1] %}
						{% comment %}
							checking for fixed elements
						{% endcomment %}
						{% if module[1].category == '_fixed' %}
							{% assign _isFixed = true %}
						{% else %}
							{% assign _isFixed = false %}
						{% endif %}

						<li class="blender-module">
							<label for="{{ module[1].ID }}">
								<strong>{{ module[1].name }}</strong>
								<span>{{ module[1].description }}</span>
							</label>
							<a href="{{ module[1].category }}/#{{ module[1].ID }}" target="_blank">view</a>

							{% include showVersionDropdown.liquid  mod = module %}
						</li>

					{% endfor %}
				</ul>

			</fieldset>
		{% endunless %}
	{% endfor %}

	<fieldset class="blender-category">
		<legend class="blender-category-headline">Blend</legend>

		<ul class="blender-modules">
			<li class="blender-module">
				<label class="checkbox checkbox-flip">
					<input class="checkbox-input" type="checkbox" name="jquery" checked="checked">
					<span class="checkbox-text">Bundle jQuery with your js</span>
				</label>
			</li>

			<li class="blender-module">
				<label class="checkbox checkbox-flip">
					<input class="checkbox-input" type="checkbox" name="jsunminified">
					<span class="checkbox-text">Include unminified js</span>
				</label>
			</li>

			<li class="blender-module">
				<label class="checkbox checkbox-flip">
					<input class="checkbox-input" type="checkbox" name="includeless">
					<span class="checkbox-text">Include less files</span>
				</label>
			</li>
		</ul>
	</fieldset>

	<input type="hidden" name="brand" value="{{ page.brand }}">

	<button type="submit" class="btn btn-primary">
		<span class="btn-text">Blend</span>
		<span class="btn-icon icon icon-size-sm icon-download"></span> {% comment %}icon-refresh (icons-group13){% endcomment %}
	</button>
</form>