{% comment %}
	This snippet prints a version dropdown for a specific module

	Usage:
		{% include showVersionDropdown.liquid  mod = site.data.GUI.modules.buttons.buttons layout = 'inner' %}

	Return:
		HTML direct output

	Required:
		site.data.GUI  [jekyll data object]  The GUI.json in jekylls _data folder
		mod            [object]              The GUI.json object for this particular module
		layout         [string]              Option to align the elements to a specific layout. Options: ['inner', 'blender']
{% endcomment %}


{% assign mod = include.mod %}
{% assign layout = include.layout %}
{% assign versions = '' %}
{% assign _isBase = false %}

{% if mod[1].core == true %}
	{% assign _isBase = true %}
{% endif %}

<div class="module-version js-module-version
	{% if _isBase %}js-module-base{% endif %}
">
	{% unless mod[1].versions.size == nil %}

		{% comment %}
			OPTIONS
			Reverse order to have newest option on top
		{% endcomment %}
		{% for version in mod[1].versions %}
			{% assign dependencies = "" %}
			{% for dep in version[1].dependencies %}
				{% capture dependencies %}{{ dependencies }}, {{ dep | handleize }}{% endcapture %}
			{% endfor %}

			{% capture versions %}
				<option class="js-blender-{{ mod[1].ID }} js-blender-{{ mod[1].ID }}{{ version[0] | handleize }}" value="{{ version[0] }}"
					{% if dependencies.size > 0 %}data-dependencies="{{ dependencies | slice: 2, dependencies.size }}"{% endif %}
					data-version="{{ version[0] | handleize }}"
					data-size="{{ version[1].size }}"
				>
					{{ version[0] }}
				</option>
				{{ versions }}
			{% endcapture %}
		{% endfor %}


		{% comment %}
			TICK
		{% endcomment %}
		{% capture tick %}
			<label class="checkbox module-version-checkbox
				{% if layout == 'blender' %}checkbox-flip{% endif %}
			">
				<input class="checkbox-input js-blender-tick" type="checkbox" name="tick-{{ mod[1].ID }}" id="tick-{{ mod[1].ID }}"
					{% if _isBase %}checked="checked" disabled="disabled"{% endif %}
				>
				<span class="checkbox-text">
					<span class="sr-only">Add the {{ mod[1].name }} module</span>
				</span>
			</label>
		{% endcapture %}


		{% comment %}
			LABEL
		{% endcomment %}
		{% capture label %}
			<label class="module-version-label" for="tick-{{ mod[1].ID }}">Add version</label>
		{% endcapture %}


		{% comment %}
			SELECT
		{% endcomment %}
		{% capture select %}
			<div class="input-field-select-wrapper module-version-select">
				<select class="input-field-select blender-version js-blender-version" name="module-{{ mod[1].ID }}" id="select-{{ mod[1].ID }}">
					{{ versions }}
				</select>
			</div>
		{% endcapture %}



		{% comment %}
			Layout
		{% endcomment %}
		{% if layout == 'inner' %}
			{{ tick }}
			{{ label }}
			{{ select }}
			<label class="module-version-label2" for="tick-{{ mod[1].ID }}">to the blender</label>
		{% else if layout == 'blender' %}
			{{ label }}
			{{ select }}
			{{ tick }}
		{% endif %}


	{% endunless %}
</div>