{% comment %}
	This snippet prints a version dropdown for a specific module

	Usage:
		{% include showVersions.liquid  mod = site.data.GUI.modules.buttons.buttons %}

	Return:
		HTML direct output

	Required:
		mod  [object]  The GUI.json object for this particular module
{% endcomment %}


{% assign mod = include.mod %}
{% assign versions = '' %}

{% comment %}Reverse order to have newest option on top{% endcomment %}
{% for version in mod[1].versions %}
	{% assign dependencies = "" %}
	{% for dep in version[1].dependencies %}
		{% capture dependencies %}{{ dependencies }}, .js-blender-{{ dep }}{% endcapture %}
	{% endfor %}

	{% capture versions %}
		<option value="{{ version[0] }}"
			{% if dependencies.size > 0 %}data-dependencies="{{ dependencies | slice: 2, dependencies.size }}"{% endif %}
		>Add version {{ version[0] }}</option>
		{{ versions }}
	{% endcapture %}
{% endfor %}

<select class="blender-version js-blender-versions" name="module-{{ mod[1].ID }}">
	<option>Don't add</option>
	{{ versions }}
</select>