{% comment %}
	This snippet prints a version dropdown for a specific module

	Usage:
		{% include showVersions.liquid  mod = site.data.GUI.modules.buttons.buttons %}

	Return:
		HTML direct output

	Required:
		mod  [object]  The GUI.json object for this particular module
{% endcomment %}


{% assign mod = include.mod %}
{% assign versions = '' %}

{% comment %}Reverse order to have newest option on top{% endcomment %}
{% for version in mod[1].versions %}
	{% assign dependencies = "" %}
	{% for dep in version[1].dependencies %}
		{% capture dependencies %}{{ dependencies }}, .js-blender-{{ dep | handleize }}{% endcapture %}
	{% endfor %}

	{% capture versions %}
		<option class="js-blender-{{ mod[1].ID }} js-blender-{{ mod[1].ID }}{{ version[0] | handleize }}" value="{{ version[0] }}"
			{% if dependencies.size > 0 %}data-dependencies="{{ dependencies | slice: 2, dependencies.size }}"{% endif %}
		>Add {{ mod[1].name }} v{{ version[0] }}</option>
		{{ versions }}
	{% endcapture %}
{% endfor %}

{% comment %}Print select{% endcomment %}
<select class="blender-version js-blender-module" name="module-{{ mod[1].ID }}" id="{{ mod[1].ID }}">
	{% unless mod[1].ID == "_base" %}
		<option value="nil">Don't add</option>
	{% endunless %}
	{{ versions }}
</select>