{% comment %}
	This snippet prints all modules in a specified category

	Usage:
		{% include showCategory.liquid  cat = "Other stuff" %}

	Return:
		HTML direct output

	Required:
		site.data.GUI  [jekyll data object]  The GUI.json in jekylls _data folder
		cat            [string]              The name of the category in the GUI.json
{% endcomment %}


{% assign category = include.cat %}
{% assign title = '' %}
{% assign description = '' %}
{% assign example = '' %}
{% assign HTML = '' %}
{% assign CSS = '' %}
{% assign LESS = '' %}
{% assign JS = '' %}

<div class="row">
	<div class="col-sm-12 category">
		{% for module in site.data.GUI.modules[category] %}
			{% assign thisModule = module[1] %}

			<section class="modules js-modules js-blender-module{{ module[1].ID }}
				{% unless site.data.GUI.modules[category].size == 1 %}
					has-border
				{% endunless %}" id="{{ module[1].ID }}">
				<div class="row">
					<div class="col-sm-4">
						{% if site.data.GUI.modules[category].size > 1 %}
							<h2 class="content-h">{{ module[1].name }}</h2>
						{% endif %}
					</div>
					<div class="col-sm-8 hidden-xs module-version">
						{% include showVersionDropdown.liquid  mod = module  layout = 'inner' %}
					</div>
				</div>

				{% comment %}ALL VERSIONS{% endcomment %}
				{% for version in thisModule.versions %}
					<div class="module js-blender-versionhtml js-blender-version{{ version[0] | handleize }}
						{% if forloop.last %}is-visible{% endif %}
					">
						{% capture path %}modules/{{ thisModule.ID }}/{{ version[0] }}.liquid{% endcapture %}
						{% assign ID = thisModule.ID %}
						{% assign category = thisModule.category %}
						{% assign count = 0 %}
						{% assign thisVersion = version[0] %}

						<div class="row">
							<div class="col-sm-12">
								<small class="module-version-string">{{ thisVersion }}</small>
							</div>
						</div>

						{% include {{ path }}  mod = thisModule  ver = thisVersion %}
					</div>
				{% endfor %}
			</section>

		{% endfor %}
	</div>
</div>