{% comment %}
	This snippet prints a module HTML for each version

	Usage:
		{% include showVersions.liquid  mod = site.data.GUI.modules.buttons.buttons %}

	Return:
		HTML direct output

	Required:
		site.data.GUI  [jekyll data object]  The GUI.json in jekylls _data folder
		mod            [object]              The GUI.json object for this particular module
{% endcomment %}


{% assign module = include.mod %}

<div class="modules js-modules js-blender-module{{ module[1].ID }}">
	{% include showVersionDropdown.liquid  mod = module %}

	{% for version in module[1].versions %}
		<div class="module js-blender-versionhtml js-blender-version{{ version[0] | handleize }}
			{% if forloop.last %}is-visible{% endif %}
		">
			{% capture path %}modules/{{ module[1].ID }}/{{ version[0] }}.liquid{% endcapture %}
			{% include {{ path }} %}
		</div>
	{% endfor %}
</div>