{% comment %}
	This snippet prints the blender form

	Usage:
		{% include showBlender.liquid %}

	Return:
		HTML direct output

	Required:
		site.data.GUI  [jekyll data object]  The GUI.json in jekylls _data folder
{% endcomment %}


{% comment %}Set the file-server url depending on the local environment{% endcomment %}
{% if "[Debug]" == "true" %}
	{% assign server = 'http://localhost' %}
	{% assign exclude = '' %}
{% else %}
	{% assign server = 'http://128.199.237.107' %}
	{% assign exclude = '_testing' %}
{% endif %}

{% comment %}Print the form{% endcomment %}
<form class="blender js-blender" method="POST" action="{{ server }}:8080/blender">
	{% for category in site.data.GUI.modules %}
		{% unless category[0] == exclude %}
			<fieldset class="blender-category">
				<legend class="blender-category-headline">{{ category[0] }}</legend>

				<ul class="blender-modules">
					{% for module in category[1] %}
						{% comment %}
							checking for fixed elements
						{% endcomment %}
						{% if module[1].category == '_fixed' %}
							{% assign _isFixed = true %}
						{% else %}
							{% assign _isFixed = false %}
						{% endif %}

						<li class="blender-module">
							<label for="{{ module[1].ID }}">
								<strong>{{ module[1].name }}</strong>
								<span>{{ module[1].description }}</span>
							</label>
							<a href="{{ module[1].category }}/#{{ module[1].ID }}" target="_blank">view</a>

							{% include showVersionDropdown.liquid  mod = module %}
						</li>

					{% endfor %}
				</ul>

			</fieldset>
		{% endunless %}
	{% endfor %}

	<fieldset class="blender-category">
		<legend class="blender-category-headline">Blend</legend>

		<ul class="blender-modules">

			<li class="blender-module">
				<label for="includeJquery">
					Would you like to include jQuery in your blend?
				</label>
				<div class="btn-group">
					<label class="btn-group-item">
						<input class="btn-group-input js-blender-option" type="radio" name="includeJquery" value="yes" id="includeJquery" checked="checked">
						<span class="btn-group-text btn btn-neutral">Yes</span>
					</label>
					<label class="btn-group-item">
						<input class="btn-group-input js-blender-option" type="radio" name="includeJquery" value="no">
						<span class="btn-group-text btn btn-neutral">No</span>
					</label>
				</div>
			</li>

			<li class="blender-module">
				<label for="includeUnminifiedJS">
					Would you like to include unminified JavaScript in your blend?
				</label>
				<div class="btn-group">
					<label class="btn-group-item">
						<input class="btn-group-input js-blender-option" type="radio" name="includeUnminifiedJS" value="yes" id="includeUnminifiedJS">
						<span class="btn-group-text btn btn-neutral">Yes</span>
					</label>
					<label class="btn-group-item">
						<input class="btn-group-input js-blender-option" type="radio" name="includeUnminifiedJS" value="no" checked="checked">
						<span class="btn-group-text btn btn-neutral">No</span>
					</label>
				</div>
			</li>

			<li class="blender-module">
				<label for="includeLess">
					Would you like to include the LESS files in your blend?
				</label>
				<div class="btn-group">
					<label class="btn-group-item">
						<input class="btn-group-input js-blender-option" type="radio" name="includeLess" value="yes" id="includeLess">
						<span class="btn-group-text btn btn-neutral">Yes</span>
					</label>
					<label class="btn-group-item">
						<input class="btn-group-input js-blender-option" type="radio" name="includeLess" value="no" checked="checked">
						<span class="btn-group-text btn btn-neutral">No</span>
					</label>
				</div>
			</li>
		</ul>
	</fieldset>

	<input type="hidden" name="brand" value="{{ page.brand }}">

	<button type="submit" class="btn btn-primary blender-submit js-blender-submit">
		<span class="btn-text">Blend</span>
		<span class="btn-icon icon icon-size-md icon-download" data-grunticon-embed></span>
		<span class="btn-icon icon icon-size-md icon-refresh" data-grunticon-embed style="display:none;"></span>
	</button>
</form>