{% comment %}
	This snippet prints the blender form

	Usage:
		{% include showBlender.liquid %}

	Return:
		HTML direct output

	Required:
		- none -
{% endcomment %}


{% assign server = 'http://localhost' %}
{% comment %}{% assign server = 'http://128.199.237.107' %}{% endcomment %}

<form class="blender js-blender" method="POST" action="{{ server }}:8080/blender">
	{% for category in site.data.GUI.modules %}
		<fieldset class="blender-category">
			<legend class="blender-category-headline">{{ category[0] }}</legend>

			<ul class="blender-modules">
				{% for module in category[1] %}
					{% comment %}
						checking for fixed elements
					{% endcomment %}
					{% if module[1].category == '_fixed' %}
						{% assign _isFixed = true %}
					{% else %}
						{% assign _isFixed = false %}
					{% endif %}

					<li class="blender-module">
						<label for="{{ module[1].ID }}">{{ module[1].description }}</label>
						<a href="{{ module[1].category }}/#{{ module[1].ID }}" target="_blank">(i)</a>

						{% include showVersions.liquid  mod = module %}
					</li>

				{% endfor %}
			</ul>

		</fieldset>
	{% endfor %}

	<fieldset class="blender-category">
		<legend class="blender-category-headline">Blend</legend>

		<ul class="blender-modules">
			<li class="blender-module">
				<label class="checkbox checkbox-flip">
					<input class="checkbox-input" type="checkbox" name="jquery" checked="checked">
					<span class="checkbox-text">Bundle jQuery with your js</span>
				</label>
			</li>

			<li class="blender-module">
				<label class="checkbox checkbox-flip">
					<input class="checkbox-input" type="checkbox" name="jsunminified">
					<span class="checkbox-text">Include unminified js</span>
				</label>
			</li>

			<li class="blender-module">
				<label class="checkbox checkbox-flip">
					<input class="checkbox-input" type="checkbox" name="includeless">
					<span class="checkbox-text">Include less files</span>
				</label>
			</li>
		</ul>
	</fieldset>

	<input type="hidden" name="brand" value="{{ page.brand }}">

	<button type="submit" class="btn btn-primary">
		<span class="btn-text">Blend</span>
		<span class="btn-icon icon icon-size-sm icon-download"></span> {% comment %}icon-refresh (icons-group13){% endcomment %}
	</button>
</form>