{% comment %}
	This snippet prints all modules in a specified category

	Usage:
		{% include showCategory.liquid  cat = "Other stuff" %}

	Return:
		HTML direct output

	Required:
		site.data.GUI  [jekyll data object]  The GUI.json in jekylls _data folder
		cat            [string]              The name of the category in the GUI.json
{% endcomment %}


{% assign category = include.cat %}
{% assign title = '' %}
{% assign description = '' %}
{% assign example = '' %}
{% assign HTML = '' %}
{% assign CSS = '' %}
{% assign LESS = '' %}
{% assign JS = '' %}


{% comment %}<div>
	{% for module in site.data.GUI.modules[category] %}
		<strong>{{ module[1].ID }}</strong><br>
		{% for version in module[1].versions %}
			{{ version[0] }}<br>
		{% endfor %}
		<hr>
	{% endfor %}
</div>{% endcomment %}


<div class="row">
	<div class="col-sm-12 category">
		{% for module in site.data.GUI.modules[category] %}
			{% assign thisModule = module[1] %}
			{% assign whatsnew = '' %}

			<section class="modules has-id js-modules js-blender-module{{ module[1].ID }}
				{% if site.data.GUI.modules[category].size == 1 %}
					has-singleModule
				{% else %}
					has-border
				{% endif %}" id="{{ module[1].ID }}">
				<div class="row">
					<div class="col-sm-4">
						{% if site.data.GUI.modules[category].size > 1 %}
							<h2 class="content-h">
								<a class="anchor-link" href="{{ category | handleize }}#{{ module[1].ID }}" aria-hidden="true" tabindex="-1">#</a>
								{{ module[1].name }}
							</h2>
						{% endif %}
					</div>
					<div class="col-sm-8 hidden-xs module-version">
						{% include showVersionDropdown.liquid  mod = module  layout = 'inner' %}
					</div>
				</div>

				{% comment %}ALL VERSIONS{% endcomment %}
				{% for version in thisModule.versions %}
					{% assign _isInBrand = false %}
					{% for versionBrand in version[1].brands %}
						{% if brand == versionBrand %}
							{% assign _isInBrand = true %}
						{% endif %}
					{% endfor %}

					{% comment %}
						Only add option if version exists in brand
					{% endcomment %}
					{% if _isInBrand %}

						<div class="module js-blender-versionhtml js-blender-version{{ version[0] | handleize }}
							{% if forloop.last %}is-visible{% endif %}
						">
							{% capture path %}modules/{{ thisModule.ID }}/{{ version[0] }}.liquid{% endcapture %}
							{% assign ID = thisModule.ID %}
							{% assign category = thisModule.category %}
							{% assign count = 0 %}
							{% assign thisVersion = version[0] %}

							<div class="row">
								<div class="col-sm-12">
									<small class="module-version-string">{{ thisVersion }}</small>
								</div>
							</div>

							{% include {{ path }}  mod = thisModule  ver = thisVersion %}
						</div>
					{% endif %}
				{% endfor %}
			</section>

		{% endfor %}
	</div>
</div>