{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Headings
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	All HTML headings, are available. h1 through to h6 classes are also available, for when you want to match the font styling of a heading while maintaining
	inline display. The default spacing used in these headings may not be suitable in all cases. Use the margin classes to adjust spacing above
	and below headings.
{% endcapture %}


{% comment %} WHAT'S NEW TAB FOR CHANGES COMPARED TO THE LAST VERSION {% endcomment %}
{% capture whatsnew %}
	<h4 class="body-font whatsnew-headline">What&rsquo;s new since v1.0.3</h4>

	This version changed:
		<code class="classes">CSS/LESS</code>
	but not:
		<code class="classes">HTML</code>,
		<code class="classes">JS</code>

	<ul class="lists">
		<li>
			To make it easier to switch brands with Less we’ve added a brand variable. Building multibrand sites has never been this easy!
			(<a href="https://github.com/WestpacCXTeam/GUI-source/issues/203" target="_blank">#203</a>)
		</li>
		<li>
			We have added support to the lesser known, but still wildly attractive HTML5 tags <code class="classes">&lt;mark&gt;</code>,
			<code class="classes">&lt;del&gt;</code> and <code class="classes">&lt;ins&gt;</code>.
		</li>
	</ul>
{{ whatsnew }}{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% assign example = "ex1" %}


{% comment %} HTML TAB {% endcomment %}
{% capture HTML %}
<h2 class="body-font">YOUR HEADLINE</h2>
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	The main mixin is called: <code class="classes">_text-styling({{ page.brand }})</code>
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}






{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Editorial text
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	<strong>Paragraph:</strong> The baseline body text.<br><br>
	<strong>Small:</strong> De-emphasise inline or blocks of text.<br><br>
	<strong>Strong:</strong> Emphasise a snippet of text. The default behaviour being a heavier font weight.<br><br>
	<strong>Emphasis:</strong> Emphasise a snippet of text. The default behaviour being italics.<br><br>
	<strong>Abbreviation:</strong> Explain abbreviations and acronyms by showing the expanded version on hover. Abbreviations with a title attribute have a light
	dotted bottom border and a help cursor on hover, providing additional context on hover.<br><br>
	<strong>Mark:</strong> Highlight a portion of text.<br><br>
	<strong>Del/Ins:</strong> Show changes by marking up what has been deleted and what has been inserted.
{% endcapture %}


{% comment %} WHAT'S NEW TAB FOR CHANGES COMPARED TO THE LAST VERSION {% endcomment %}
{% capture whatsnew %}
{{ whatsnew }}{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% assign example = "ex2" %}


{% comment %} HTML TAB {% endcomment %}
{% capture HTML %}
<p>
	I&rsquo;m a basic paragraph.
	<small>I&rsquo;m small.</small>
	<strong>I&rsquo;m strong</strong>
	<a href="{{ page.title | handleize }}/#url">I&rsquo;m a link</a>
	<em>I&rsquo;ve been emphasised</em>
	<mark>highlighted text</mark>
	<del>removed bit</del> <ins>replacement bit</ins>
</p>
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	{{ LESS }}
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}
