{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Collapsible elements
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	Collapse and expand content elements.
{% endcapture %}


{% comment %} WHAT'S NEW TAB FOR CHANGES COMPARED TO THE LAST VERSION {% endcomment %}
{% capture whatsnew %}
	<h4 class="body-font whatsnew-headline">What&rsquo;s new since v2.0.1</h4>

	This version changed:
		<code class="classes">CSS/LESS</code>,
		<code class="classes">HTML</code>
	and
		<code class="classes">JS</code>

	<ul class="lists">
		<li>
			Tabcordions have this really neat class that makes all tabs equal heights which looks really rad! Unless it doesn’t work. Then it looks bad, less rad.
			No more.
			(<a href="https://github.com/WestpacCXTeam/GUI-source/issues/237" target="_blank">#237</a>)
		</li>
		<li>
			Justified tabs unjustified in the mobile breakpoint. That was deemed unjust and they now justify again! Justice served.
			(<a href="https://github.com/WestpacCXTeam/GUI-source/issues/238" target="_blank">#238</a>)
		</li>
		<li>
			Scrolling can now be disabled or adjusted by an offset. If you have a fixed header and need the tabcordion to scroll a little less, NOW is your time!
			(<a href="https://github.com/WestpacCXTeam/GUI-source/issues/245" target="_blank">#245</a>)
		</li>
		<li>
			We made improvements to our A11Y. Now all links come with underlines so you can tell them apart by color AND shape. Also A11Y means "accessibility" for
			all who were wondering.
			(<a href="https://github.com/WestpacCXTeam/GUI-source/issues/247" target="_blank">#247</a>)
		</li>
		<li>
			One last little big thing: We added some attributes to help screenreaders to understand what tab is open. Another win for A11Y!
			(<a href="https://github.com/WestpacCXTeam/GUI-source/issues/258" target="_blank">#258</a>)
		</li>
	</ul>
{{ whatsnew }}{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% assign example = "ex1" %}


{% comment %} HTML TAB {% endcomment %}
{% capture HTML %}
<button class="btn btn-link js-collapsible" data-collapsible="#UNIQUE-ID">YOUR BUTTON</button>

<div id="UNIQUE-ID" class="collapsible-body" aria-hidden="true" tabindex="-1">
	YOUR CONTENT
</div>
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	The main mixin is called: <code class="classes">_tabcordions({{ page.brand }})</code>
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
	This module comes with the usual init method and three public methods:

	<ul>
		<li>
			<code class="classes">GUI.tabcordions.init();</code> after the page has been loaded.
		</li>
		<li>
			<code class="classes">GUI.tabcordions.render();</code> for dynamically added elements after page load.
		</li>
		<li>
			<code class="classes">GUI.collapsible.toggle( target, _isAnimated, Callback )</code>
			<ul>
				<li>@param   <code class="classes">target</code>       [string]    Selector for target element to toggle is-open class</li>
				<li>@param   <code class="classes">_isAnimated</code>  [boolean]   Wether or not to animate the height</li>
				<li>@param   <code class="classes">Callback</code>     [function]  Callback function executed after completion</li>
			</ul>
		</li>
		<li>
			<code class="classes">GUI.collapsible.close( target, _isAnimated, Callback )</code>
			<ul>
				<li>@param   <code class="classes">target</code>       [string]    Selector for target element to toggle is-open class</li>
				<li>@param   <code class="classes">_isAnimated</code>  [boolean]   Wether or not to animate the height</li>
				<li>@param   <code class="classes">Callback</code>     [function]  Callback function executed after completion</li>
			</ul>
		</li>
		<li>
			<code class="classes">GUI.collapsible.open( target, _isAnimated, Callback, withFocus )</code>
			<ul>
				<li>@param   <code class="classes">target</code>       [string]    Selector for target element to toggle is-open class</li>
				<li>@param   <code class="classes">_isAnimated</code>  [boolean]   Whether or not to animate the height</li>
				<li>@param   <code class="classes">Callback</code>     [function]  Callback function executed after completion</li>
				<li>@param   <code class="classes">withFocus</code>    [boolean]   Should the focus move to the opened element? Default true</li>
			</ul>
		</li>
	</ul>
{% endcapture %}


{% include showExample.liquid  controls = false %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}






{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Soft tabs
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	Use tab elements to switch between different views or content, soft styling reduces emphasis. Avoid wrapping labels in tabs.
{% endcapture %}


{% comment %} WHAT'S NEW TAB FOR CHANGES COMPARED TO THE LAST VERSION {% endcomment %}
{% capture whatsnew %}
{{ whatsnew }}{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% assign example = "ex2" %}


{% comment %} HTML TAB {% endcomment %}
{% capture HTML %}
<div class="tabcordion tabcordion-tabs">
	<ul class="tabcordion-tabs">
		<li class="tabcordion-tab js-collapsible-tab is-active">
			<a class="js-collapsible" href="#ex11-tab1{{ version[0] | handleize }}">YOUR TAB</a>
		</li>
		<li class="tabcordion-tab js-collapsible-tab">
			<a class="js-collapsible" href="#ex11-tab2{{ version[0] | handleize }}">YOUR TAB</a>
		</li>
		<li class="tabcordion-tab js-collapsible-tab">
			<a class="js-collapsible" href="#ex11-tab3{{ version[0] | handleize }}">YOUR TAB</a>
		</li>
	</ul>

	<div id="ex11-tab1{{ version[0] | handleize }}" class="collapsible-body is-open" aria-hidden="false" tabindex="-1">
		<div class="tabcordion-body">
			YOUR TEXT
		</div>
	</div>
	<div id="ex11-tab2{{ version[0] | handleize }}" class="collapsible-body" aria-hidden="true" tabindex="-1">
		<div class="tabcordion-body">
			YOUR TEXT
		</div>
	</div>
	<div id="ex11-tab3{{ version[0] | handleize }}" class="collapsible-body" aria-hidden="true" tabindex="-1">
		<div class="tabcordion-body">
			YOUR TEXT
		</div>
	</div>
</div>
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	{{ LESS }}
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
	{{ JS }}
{% endcapture %}


{% include showExample.liquid  controls = false %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}






{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Soft tabs - justified
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	As above, allowing tabs to span the full width of the container.
{% endcapture %}


{% comment %} WHAT'S NEW TAB FOR CHANGES COMPARED TO THE LAST VERSION {% endcomment %}
{% capture whatsnew %}
{{ whatsnew }}{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% assign example = "ex3" %}


{% comment %} HTML TAB {% endcomment %}
{% capture HTML %}
<div class="tabcordion tabcordion-tabs">
	<ul class="tabcordion-tabs tabcordion-tabs-justified">
		<li class="tabcordion-tab js-collapsible-tab is-active">
			<a class="js-collapsible" href="#ex22-tab1{{ version[0] | handleize }}">YOUR TAB</a>
		</li>
		<li class="tabcordion-tab js-collapsible-tab">
			<a class="js-collapsible" href="#ex22-tab2{{ version[0] | handleize }}">YOUR TAB</a>
		</li>
		<li class="tabcordion-tab js-collapsible-tab">
			<a class="js-collapsible" href="#ex22-tab3{{ version[0] | handleize }}">YOUR TAB</a>
		</li>
	</ul>

	<div id="ex22-tab1{{ version[0] | handleize }}" class="collapsible-body is-open" aria-hidden="false" tabindex="-1">
		<div class="tabcordion-body">
			YOUR TEXT
		</div>
	</div>
	<div id="ex22-tab2{{ version[0] | handleize }}" class="collapsible-body" aria-hidden="true" tabindex="-1">
		<div class="tabcordion-body">
			YOUR TEXT
		</div>
	</div>
	<div id="ex22-tab3{{ version[0] | handleize }}" class="collapsible-body" aria-hidden="true" tabindex="-1">
		<div class="tabcordion-body">
			YOUR TEXT
		</div>
	</div>
</div>
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
	Modifier class:

	<ul>
		<li>
			<code class="classes">tabcordion-tabs-justified</code>
		</li>
	</ul>
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	{{ LESS }}
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
	{{ JS }}
{% endcapture %}


{% include showExample.liquid  controls = false %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}




{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Lego tabs
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	A stronger styling option for tabs.
{% endcapture %}


{% comment %} WHAT'S NEW TAB FOR CHANGES COMPARED TO THE LAST VERSION {% endcomment %}
{% capture whatsnew %}
{{ whatsnew }}{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% assign example = "ex4" %}


{% comment %} HTML TAB {% endcomment %}
{% capture HTML %}
<div class="tabcordion tabcordion-lego tabcordion-tabs">
	<ul class="tabcordion-tabs">
		<li class="tabcordion-tab js-collapsible-tab is-active">
			<a class="js-collapsible" href="#ex33-tab1{{ version[0] | handleize }}">YOUR TAB</a>
		</li>
		<li class="tabcordion-tab js-collapsible-tab">
			<a class="js-collapsible" href="#ex33-tab2{{ version[0] | handleize }}">YOUR TAB</a>
		</li>
		<li class="tabcordion-tab js-collapsible-tab">
			<a class="js-collapsible" href="#ex33-tab3{{ version[0] | handleize }}">YOUR TAB</a>
		</li>
	</ul>

	<div id="ex33-tab1{{ version[0] | handleize }}" class="collapsible-body is-open" aria-hidden="false" tabindex="-1">
		<div class="tabcordion-body">
			YOUR TEXT
		</div>
	</div>
	<div id="ex33-tab2{{ version[0] | handleize }}" class="collapsible-body" aria-hidden="true" tabindex="-1">
		<div class="tabcordion-body">
			YOUR TEXT
		</div>
	</div>
	<div id="ex33-tab3{{ version[0] | handleize }}" class="collapsible-body" aria-hidden="true" tabindex="-1">
		<div class="tabcordion-body">
			YOUR TEXT
		</div>
	</div>
</div>
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
	Modifier class:

	<ul>
		<li>
			<code class="classes">tabcordion-lego</code>
		</li>
	</ul>
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	{{ LESS }}
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
	{{ JS }}
{% endcapture %}


{% include showExample.liquid  controls = false %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}




{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Lego tabs - justified
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	As above, allowing tabs to span the full width of the container.
{% endcapture %}


{% comment %} WHAT'S NEW TAB FOR CHANGES COMPARED TO THE LAST VERSION {% endcomment %}
{% capture whatsnew %}
{{ whatsnew }}{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% assign example = "ex5" %}


{% comment %} HTML TAB {% endcomment %}
{% capture HTML %}
<div class="tabcordion tabcordion-lego tabcordion-tabs">
	<ul class="tabcordion-tabs tabcordion-tabs-justified">
		<li class="tabcordion-tab js-collapsible-tab is-active">
			<a class="js-collapsible" href="#ex44-tab1{{ version[0] | handleize }}">YOUR TAB</a>
		</li>
		<li class="tabcordion-tab js-collapsible-tab">
			<a class="js-collapsible" href="#ex44-tab2{{ version[0] | handleize }}">YOUR TAB</a>
		</li>
		<li class="tabcordion-tab js-collapsible-tab">
			<a class="js-collapsible" href="#ex44-tab3{{ version[0] | handleize }}">YOUR TAB</a>
		</li>
	</ul>

	<div id="ex44-tab1{{ version[0] | handleize }}" class="collapsible-body is-open" aria-hidden="false" tabindex="-1">
		<div class="tabcordion-body">
			YOUR TEXT
		</div>
	</div>
	<div id="ex44-tab2{{ version[0] | handleize }}" class="collapsible-body" aria-hidden="true" tabindex="-1">
		<div class="tabcordion-body">
			YOUR TEXT
		</div>
	</div>
	<div id="ex44-tab3{{ version[0] | handleize }}" class="collapsible-body" aria-hidden="true" tabindex="-1">
		<div class="tabcordion-body">
			YOUR TEXT
		</div>
	</div>
</div>
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
	Modifier class:

	<ul>
		<li>
			<code class="classes">tabcordion-tabs-justified</code>
		</li>
	</ul>
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	{{ LESS }}
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
	{{ JS }}
{% endcapture %}


{% include showExample.liquid  controls = false %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}






{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Soft accordion
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	Use accordion elements to vertically stack related content. Each item can be expanded to reveal the content associated with that item. Only 1 item can be
	opened (active) at a time. Any item in the accordion can be the default opened item.
{% endcapture %}


{% comment %} WHAT'S NEW TAB FOR CHANGES COMPARED TO THE LAST VERSION {% endcomment %}
{% capture whatsnew %}
{{ whatsnew }}{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% assign example = "ex6" %}


{% comment %} HTML TAB {% endcomment %}
{% capture HTML %}
<div class="tabcordion tabcordion-accordion">
	<div class="tabcordion-body-header js-collapsible-tab is-active">
		<a href="#ex55-tab1{{ version[0] | handleize }}" class="tabcordion-body-headline js-collapsible">YOUR TAB</a>
	</div>
	<div id="ex55-tab1{{ version[0] | handleize }}" class="collapsible-body is-open" aria-hidden="false" tabindex="-1">
		<div class="tabcordion-body">
			YOUR TEXT
		</div>
	</div>

	<div class="tabcordion-body-header js-collapsible-tab">
		<a href="#ex55-tab2{{ version[0] | handleize }}" class="tabcordion-body-headline js-collapsible">YOUR TAB</a>
	</div>
	<div id="ex55-tab2{{ version[0] | handleize }}" class="collapsible-body" aria-hidden="true" tabindex="-1">
		<div class="tabcordion-body">
			YOUR TEXT
		</div>
	</div>

	<div class="tabcordion-body-header js-collapsible-tab">
		<a href="#ex55-tab3{{ version[0] | handleize }}" class="tabcordion-body-headline js-collapsible">YOUR TAB</a>
	</div>
	<div id="ex55-tab3{{ version[0] | handleize }}" class="collapsible-body" aria-hidden="true" tabindex="-1">
		<div class="tabcordion-body">
			YOUR TEXT
		</div>
	</div>
</div>
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
	Modifier class:

	<ul>
		<li>
			<code class="classes">tabcordion-accordion</code>
		</li>
	</ul>
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	{{ LESS }}
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
	{{ JS }}
{% endcapture %}


{% include showExample.liquid  controls = false %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}






{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Lego accordion
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	A stronger styling option for accordions.
{% endcapture %}


{% comment %} WHAT'S NEW TAB FOR CHANGES COMPARED TO THE LAST VERSION {% endcomment %}
{% capture whatsnew %}
{{ whatsnew }}{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% assign example = "ex7" %}


{% comment %} HTML TAB {% endcomment %}
{% capture HTML %}
<div class="tabcordion tabcordion-lego tabcordion-accordion">
	<div class="tabcordion-body-header js-collapsible-tab is-active">
		<a href="#ex66-tab1{{ version[0] | handleize }}" class="tabcordion-body-headline js-collapsible">YOUR TAB</a>
	</div>
	<div id="ex66-tab1{{ version[0] | handleize }}" class="collapsible-body is-open" aria-hidden="false" tabindex="-1">
		<div class="tabcordion-body">
			YOUR TEXT
		</div>
	</div>

	<div class="tabcordion-body-header js-collapsible-tab">
		<a href="#ex66-tab2{{ version[0] | handleize }}" class="tabcordion-body-headline js-collapsible">YOUR TAB</a>
	</div>
	<div id="ex66-tab2{{ version[0] | handleize }}" class="collapsible-body" aria-hidden="true" tabindex="-1">
		<div class="tabcordion-body">
			YOUR TEXT
		</div>
	</div>

	<div class="tabcordion-body-header js-collapsible-tab">
		<a href="#ex66-tab3{{ version[0] | handleize }}" class="tabcordion-body-headline js-collapsible">YOUR TAB</a>
	</div>
	<div id="ex66-tab3{{ version[0] | handleize }}" class="collapsible-body" aria-hidden="true" tabindex="-1">
		<div class="tabcordion-body">
			YOUR TEXT
		</div>
	</div>
</div>
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
	Modifier class:

	<ul>
		<li>
			<code class="classes">tabcordion-lego</code>
		</li>
	</ul>
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	{{ LESS }}
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
	{{ JS }}
{% endcapture %}


{% include showExample.liquid  controls = false %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}






{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Soft tabcordion
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	A tab set that changes to an accordion based on break point, soft styling reduces emphasis.
{% endcapture %}


{% comment %} WHAT'S NEW TAB FOR CHANGES COMPARED TO THE LAST VERSION {% endcomment %}
{% capture whatsnew %}
{{ whatsnew }}{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% assign example = "ex8" %}


{% comment %} HTML TAB {% endcomment %}
{% capture HTML %}
<div class="tabcordion">
	<ul class="tabcordion-tabs">
		<li class="tabcordion-tab js-collapsible-tab is-active">
			<a class="js-collapsible" href="#ex77-tab1{{ version[0] | handleize }}">YOUR TAB</a>
		</li>
		<li class="tabcordion-tab js-collapsible-tab">
			<a class="js-collapsible" href="#ex77-tab2{{ version[0] | handleize }}">YOUR TAB</a>
		</li>
		<li class="tabcordion-tab js-collapsible-tab">
			<a class="js-collapsible" href="#ex77-tab3{{ version[0] | handleize }}">YOUR TAB</a>
		</li>
	</ul>

	<div class="tabcordion-body-header js-collapsible-tab is-active">
		<a href="#ex77-tab1{{ version[0] | handleize }}" class="tabcordion-body-headline js-collapsible">YOUR TAB</a>
	</div>
	<div id="ex77-tab1{{ version[0] | handleize }}" class="collapsible-body is-open" aria-hidden="false" tabindex="-1">
		<div class="tabcordion-body">
			YOUR TEXT
		</div>
	</div>

	<div class="tabcordion-body-header js-collapsible-tab">
		<a href="#ex77-tab2{{ version[0] | handleize }}" class="tabcordion-body-headline js-collapsible">YOUR TAB</a>
	</div>
	<div id="ex77-tab2{{ version[0] | handleize }}" class="collapsible-body" aria-hidden="true" tabindex="-1">
		<div class="tabcordion-body">
			YOUR TEXT
		</div>
	</div>

	<div class="tabcordion-body-header js-collapsible-tab">
		<a href="#ex77-tab3{{ version[0] | handleize }}" class="tabcordion-body-headline js-collapsible">YOUR TAB</a>
	</div>
	<div id="ex77-tab3{{ version[0] | handleize }}" class="collapsible-body" aria-hidden="true" tabindex="-1">
		<div class="tabcordion-body">
			YOUR TEXT
		</div>
	</div>
</div>
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	{{ LESS }}
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
	{{ JS }}
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}






{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Lego tabcordion
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	A tab set that changes to an accordion based on break point, prominent &quot;Lego&quot; styling highlights your content.
{% endcapture %}


{% comment %} WHAT'S NEW TAB FOR CHANGES COMPARED TO THE LAST VERSION {% endcomment %}
{% capture whatsnew %}
{{ whatsnew }}{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% assign example = "ex9" %}


{% comment %} HTML TAB {% endcomment %}
{% capture HTML %}
<div class="tabcordion tabcordion-lego">
	<ul class="tabcordion-tabs">
		<li class="tabcordion-tab js-collapsible-tab is-active">
			<a class="js-collapsible" href="#ex88-tab1{{ version[0] | handleize }}">YOUR TAB</a>
		</li>
		<li class="tabcordion-tab js-collapsible-tab">
			<a class="js-collapsible" href="#ex88-tab2{{ version[0] | handleize }}">YOUR TAB</a>
		</li>
		<li class="tabcordion-tab js-collapsible-tab">
			<a class="js-collapsible" href="#ex88-tab3{{ version[0] | handleize }}">YOUR TAB</a>
		</li>
	</ul>

	<div class="tabcordion-body-header js-collapsible-tab is-active">
		<a href="#ex88-tab1{{ version[0] | handleize }}" class="tabcordion-body-headline js-collapsible">YOUR TAB</a>
	</div>
	<div id="ex88-tab1{{ version[0] | handleize }}" class="collapsible-body is-open" aria-hidden="false" tabindex="-1">
		<div class="tabcordion-body">
			YOUR TEXT
		</div>
	</div>

	<div class="tabcordion-body-header js-collapsible-tab">
		<a href="#ex88-tab2{{ version[0] | handleize }}" class="tabcordion-body-headline js-collapsible">YOUR TAB</a>
	</div>
	<div id="ex88-tab2{{ version[0] | handleize }}" class="collapsible-body" aria-hidden="true" tabindex="-1">
		<div class="tabcordion-body">
			YOUR TEXT
		</div>
	</div>

	<div class="tabcordion-body-header js-collapsible-tab">
		<a href="#ex88-tab3{{ version[0] | handleize }}" class="tabcordion-body-headline js-collapsible">YOUR TAB</a>
	</div>
	<div id="ex88-tab3{{ version[0] | handleize }}" class="collapsible-body" aria-hidden="true" tabindex="-1">
		<div class="tabcordion-body">
			YOUR TEXT
		</div>
	</div>
</div>
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
	Modifier class:

	<ul>
		<li>
			<code class="classes">tabcordion-lego</code>
		</li>
	</ul>
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	{{ LESS }}
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
	{{ JS }}
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}







{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Tabcordions and scrolling
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	The accordion scrolls the current active tab into view to make sure users don’t get lost when a large amount of content is moved in and out of view.
	By default it will scroll the page to the top of the viewport which is great for most websites. However sometimes a website has a fixed element like a
	header bar on the top that may obstruct the view. Other times the scroll can confuse more than it helps. The tabcordion allows you to adjust this behaviour.
	The <code class="classes">data-tabcordion-scroll</code> on the outer most wrapping HTML tag overwrites the default behaviour to your use case. Use
	<code class="classes">data-tabcordion-scroll="100"</code> to offset the scroll by 100px or <code class="classes">data-tabcordion-scroll="none"</code> to
	disable the scroll all together.
{% endcapture %}


{% comment %} WHAT'S NEW TAB FOR CHANGES COMPARED TO THE LAST VERSION {% endcomment %}
{% capture whatsnew %}
{{ whatsnew }}{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% assign example = "" %}


{% comment %} HTML TAB {% endcomment %}
{% capture HTML %}
<div class="tabcordion" data-tabcordion-scroll="none">
	tabcordion with scroll disabled
</div>

<div class="tabcordion" data-tabcordion-scroll="200">
	tabcordion with 200px scroll offset
</div>
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}