{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Lead text
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	Use lead text to make a paragraph stand out. Useful for skim reading. Don&rsquo;t over do it though too much will overpower the screen.
{% endcapture %}


{% comment %} WHAT'S NEW TAB FOR CHANGES COMPARED TO THE LAST VERSION {% endcomment %}
{% capture whatsnew %}
{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% capture example %}
	<p class="lead">
		I&rsquo;m lead text. Read me and you&rsquo;ll get an idea of what&rsquo;s below. Don&rsquo;t over do it though keep me short and sweet or things might get a
		little loud. I&rsquo;m not intended to be used in big paragraphs as this defeats the objective for the skim reader.
	</p>
{% endcapture %}


{% comment %} HTML TAB, THIS WILL ALMOST ALWAYS BE THE SAME AS {{ example }} {% endcomment %}
{% capture HTML %}
	<p class="lead">
		YOUR TEXT
	</p>
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	The main mixin is called: <code class="classes">_text-extensions({{ page.brand }})</code>
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}






{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Text alignment
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	Quickly and easily align text to components with text alignment classes.
{% endcapture %}


{% comment %} WHAT'S NEW TAB FOR CHANGES COMPARED TO THE LAST VERSION {% endcomment %}
{% capture whatsnew %}
{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% capture example %}
	<p class="text-left">
		<strong>Left aligned text.</strong><br>
		Aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
		ipsum quia dolor sialiquam qualaboriosam, nisi olu voluptas nulla pariatur? Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		Tempore autem modi voluptatum quia iusto pariatur hic, excepturi explicabo dignissimos, vitae nulla, cumque possimus reiciendis natus officiis delectus,
		accusantium voluptate fugiat.
	</p>

	<p class="text-center">
		<strong>Center aligned text.</strong><br>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed magnam cupiditate dolorum eius nulla. Voluptatum est eos qui?
		Consequatur ipsa ea asperiores explicabo quae fuga minima est eaque ut nobis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero nobis iure,
		minima laudantium aperiam? Quos rem, nesciunt facilis, necessitatibus impedit nostrum cum inventore, pariatur voluptatibus quibusdam totam omnis nulla quae.
	</p>

	<p class="text-right">
		<strong>Right aligned text.</strong><br>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis esse enim quia tenetur eius facere magnam repudiandae nulla quaerat laudantium expedita,
		tempore velit, earum molestias libero quibusdam quo saepe cupiditate. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum itaque suscipit
		rem hic possimus quos, officia alias! Reprehenderit nemo odio quos, impedit, perferendis nam. Possimus, repellat? Repellendus earum magnam eius!
	</p>
{% endcapture %}


{% comment %} HTML TAB, THIS WILL ALMOST ALWAYS BE THE SAME AS {{ example }} {% endcomment %}
{% capture HTML %}
	{{ example }}
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	{{ LESS }}
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}






{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Text colours
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	Primary-text is the default colour for all text, muted-text is used to de-emphasise less important content. The colour differece is very subtle in some brands,
	however these colours are required to comply with accessibility requirements. Find out more about <a href="alerts/">contextual text colours</a>.
{% endcapture %}


{% comment %} WHAT'S NEW TAB FOR CHANGES COMPARED TO THE LAST VERSION {% endcomment %}
{% capture whatsnew %}
{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% capture example %}
	<p class="text-muted">
		I&rsquo;m text-muted. I&rsquo;m accessible on white, but always check.
	</p>

	<p class="text-primary">
		I&rsquo;m text-primary. I&rsquo;m super accessible. I&rsquo;m all about being seen.
	</p>
{% endcapture %}


{% comment %} HTML TAB, THIS WILL ALMOST ALWAYS BE THE SAME AS {{ example }} {% endcomment %}
{% capture HTML %}
	{{ example }}
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	{{ LESS }}
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}