{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	Breadcrumbs are styled navigational links used to indicate a user journey or path. They are a simple, effective and proven method to aid orientation.<br>
	We like breadcrumbs.
{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% capture example %}
	<div class="breadcrumb">
		<span class="breadcrumb-sronly">Page navigation:</span>

		<ol class="breadcrumb-list">
			<li class="is-active">
				<span class="breadcrumb-sronly">Current page:</span>
				Home
			</li>
		</ol>
	</div>

	<div class="breadcrumb">
		<span class="breadcrumb-sronly">Page navigation:</span>

		<ol class="breadcrumb-list">
			<li><a href="{{ page.title | handleize }}/#url">Home</a></li>
			<li class="is-active">
				<span class="breadcrumb-sronly">Current page:</span>
				Personal
			</li>
		</ol>
	</div>

	<div class="breadcrumb">
		<span class="breadcrumb-sronly">Page navigation:</span>

		<ol class="breadcrumb-list">
			<li><a href="{{ page.title | handleize }}/#url">Home</a></li>
			<li><a href="{{ page.title | handleize }}/#url">Personal</a></li>
			<li class="is-active">
				<span class="breadcrumb-sronly">Current page:</span>
				Business
			</li>
		</ol>
	</div>
{% endcapture %}


{% comment %} HTML TAB, THIS WILL ALMOST ALWAYS BE THE SAME AS {{ example }} {% endcomment %}
{% capture HTML %}
	<div class="breadcrumb">
		<span class="breadcrumb-sronly">Page navigation:</span>

		<ol class="breadcrumb-list">
			<li><a href="{{ page.title | handleize }}/#url">Home</a></li>
			<li><a href="{{ page.title | handleize }}/#url">Personal</a></li>
			<li class="is-active">
				<span class="breadcrumb-sronly">Current page:</span>
				Business
			</li>
		</ol>
	</div>
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	The main mixin is called: <code class="classes">_breadcrumbs({{ page.brand }})</code>
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}