{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	<p class="lead">
		Using a 12 column fluid grid allows us to use media queries to set breakpoints for any viewport. Columns can use different spans, be offset or hidden
		depending on the size of the viewport.<br>
	</p>
{% endcapture %}


{% comment %} WHAT'S NEW TAB FOR CHANGES COMPARED TO THE LAST VERSION {% endcomment %}
{% capture whatsnew %}
{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% capture example %}
{% endcapture %}


{% comment %} HTML TAB, THIS WILL ALMOST ALWAYS BE THE SAME AS {{ example }} {% endcomment %}
{% capture HTML %}
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}




{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Grid example 1
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	This 3 column layout stacks on xs* (each column takes up full width) but on the other breakpoints it adapts to different widths.
{% endcapture %}


{% comment %} WHAT'S NEW TAB FOR CHANGES COMPARED TO THE LAST VERSION {% endcomment %}
{% capture whatsnew %}
{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% capture example %}
	<div class="row grid-example">
		<div class="col-sm-4 col-md-2 col-lg-8">
			<p>
				Column A
			</p>
		</div>

		<div class="col-sm-4 col-md-8 col-lg-2">
			<p>
				Column B
			</p>
		</div>

		<div class="col-sm-4 col-md-2 col-lg-2">
			<p>
				Column C
			</p>
		</div>
	</div>
{% endcapture %}


{% comment %} HTML TAB, THIS WILL ALMOST ALWAYS BE THE SAME AS {{ example }} {% endcomment %}
{% capture HTML %}
	<div class="row">
		<div class="col-sm-4 col-md-2 col-lg-8">
			<p>
				Column A
			</p>
		</div>

		<div class="col-sm-4 col-md-8 col-lg-2">
			<p>
				Column B
			</p>
		</div>

		<div class="col-sm-4 col-md-2 col-lg-2">
			<p>
				Column C
			</p>
		</div>
	</div>
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	The main mixin is called: <code class="classes">_grid({{ page.brand }})</code><br>
	Other mixins:

	<ul>
		<li>
			<code class="classes">._grid-breakpoints()</code> This mixin makes the breakpoints available in these four variables:

			<ul>
				<li>
					<code class="classes">@screen-xs</code>
				</li>
				<li>
					<code class="classes">@screen-sm</code>
				</li>
				<li>
					<code class="classes">@screen-md</code>
				</li>
				<li>
					<code class="classes">@screen-lg</code>
				</li>
			</ul>
		</li>
		<li>
			<code class="classes">._grid-clearfix()</code> This mixin contains a clearfix to contain floats.
		</li>
	</ul>
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}




{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Grid example 2
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	This 3 column layout stacks on xs* (each column takes up full width) but on the other breakpoints it adapts to different widths.
{% endcapture %}


{% comment %} WHAT'S NEW TAB FOR CHANGES COMPARED TO THE LAST VERSION {% endcomment %}
{% capture whatsnew %}
{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% capture example %}
	<div class="row grid-example">
		<div class="col-md-4">
			<p>
				Column with col-md-4
			</p>
		</div>
	</div>

	<div class="row grid-example">
		<div class="col-xs-4">
			<p>
				Column with col-xs-4
			</p>
		</div>
	</div>
{% endcapture %}


{% comment %} HTML TAB, THIS WILL ALMOST ALWAYS BE THE SAME AS {{ example }} {% endcomment %}
{% capture HTML %}
	<div class="row">
		<div class="col-md-4">
			<p>
				Column with col-md-4
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-4">
			<p>
				Column with col-xs-4
			</p>
		</div>
	</div>
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	{{ LESS }}
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}





{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Grid example 3
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	You can nest columns inside columns to achieve greater complexity and structure the page. In effect, each column can be sub-divided into further 12 columns.
	The nested columns align to their own 12 col grid based on the width of the parent column.
{% endcapture %}


{% comment %} WHAT'S NEW TAB FOR CHANGES COMPARED TO THE LAST VERSION {% endcomment %}
{% capture whatsnew %}
{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% capture example %}
	<div class="row grid-example">
		<div class="col-md-3">
			<p>
				Column A
			</p>
		</div>

		<div class="col-md-9">

			<div class="row grid-example">
				<div class="col-xs-4">
					<p>
						Nested column A
					</p>
				</div>

				<div class="col-xs-4">
					<p>
						Nested column B
					</p>
				</div>

				<div class="col-xs-4">
					<p>
						Nested column C
					</p>
				</div>
			</div>

		</div>
	</div>
{% endcapture %}


{% comment %} HTML TAB, THIS WILL ALMOST ALWAYS BE THE SAME AS {{ example }} {% endcomment %}
{% capture HTML %}
	<div class="row">
		<div class="col-md-3">
			<p>
				Column A
			</p>
		</div>

		<div class="col-md-9">

			<div class="row">
				<div class="col-xs-4">
					<p>
						Nested column A
					</p>
				</div>

				<div class="col-xs-4">
					<p>
						Nested column B
					</p>
				</div>

				<div class="col-xs-4">
					<p>
						Nested column C
					</p>
				</div>
			</div>

		</div>
	</div>
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	{{ LESS }}
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}






{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Grid example 4
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	If a pull-right class is added to the first column it will be the top most column when stacked but displays at the far right on larger views.
	On xs the source order is honored.
{% endcapture %}


{% comment %} WHAT'S NEW TAB FOR CHANGES COMPARED TO THE LAST VERSION {% endcomment %}
{% capture whatsnew %}
{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% capture example %}
	<div class="row grid-example">
		<div class="col-xs-12 col-sm-4 pull-right">
			<p>
				Column A
			</p>
		</div>

		<div class="col-xs-12 col-sm-4">
			<p>
				Column B
			</p>
		</div>

		<div class="col-xs-12 col-sm-4">
			<p>
				Column C
			</p>
		</div>
	</div>
{% endcapture %}


{% comment %} HTML TAB, THIS WILL ALMOST ALWAYS BE THE SAME AS {{ example }} {% endcomment %}
{% capture HTML %}
	<div class="row">
		<div class="col-xs-12 col-sm-4 pull-right">
			<p>
				Column A
			</p>
		</div>

		<div class="col-xs-12 col-sm-4">
			<p>
				Column B
			</p>
		</div>

		<div class="col-xs-12 col-sm-4">
			<p>
				Column C
			</p>
		</div>
	</div>
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	{{ LESS }}
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}





{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Grid example 5
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	Columns can be offset to create empty space.
{% endcapture %}


{% comment %} WHAT'S NEW TAB FOR CHANGES COMPARED TO THE LAST VERSION {% endcomment %}
{% capture whatsnew %}
{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% capture example %}
	<div class="row grid-example">
		<div class="col-xs-12 col-sm-11 col-sm-offset-1">
			<p>
				Offset Column
			</p>
		</div>
	</div>
{% endcapture %}


{% comment %} HTML TAB, THIS WILL ALMOST ALWAYS BE THE SAME AS {{ example }} {% endcomment %}
{% capture HTML %}
	<div class="row">
		<div class="col-xs-12 col-sm-11 col-sm-offset-1">
			<p>
				Offset Column
			</p>
		</div>
	</div>
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	{{ LESS }}
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}




{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Grid example 6
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	Adding the hidden class will hide a column. This is useful for showing content for one view and hiding it for other views.
{% endcapture %}


{% comment %} WHAT'S NEW TAB FOR CHANGES COMPARED TO THE LAST VERSION {% endcomment %}
{% capture whatsnew %}
{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% capture example %}
	<div class="row grid-example">
		<div class="col-sm-4 hidden-xs">
			<p>
				Column A
			</p>
		</div>

		<div class="col-sm-4">
			<p>
				Column B
			</p>
		</div>

		<div class="col-sm-4">
			<p>
				Column C
			</p>
		</div>
	</div>
{% endcapture %}


{% comment %} HTML TAB, THIS WILL ALMOST ALWAYS BE THE SAME AS {{ example }} {% endcomment %}
{% capture HTML %}
	<div class="row">
		<div class="col-sm-4 hidden-xs">
			<p>
				Column A
			</p>
		</div>

		<div class="col-sm-4">
			<p>
				Column B
			</p>
		</div>

		<div class="col-sm-4">
			<p>
				Column C
			</p>
		</div>
	</div>
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	{{ LESS }}
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}