{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Basic table
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	Simple table structure without borders can be used when stretching edge to edge within a container.
{% endcapture %}


{% comment %} WHAT'S NEW TAB FOR CHANGES COMPARED TO THE LAST VERSION {% endcomment %}
{% capture whatsnew %}
{{ whatsnew }}{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% assign example = "ex1" %}


{% comment %} HTML TAB {% endcomment %}
{% capture HTML %}
<div class="table-responsive">
	<table class="table">
		<caption>
			YOUR TABLE CAPTION
		</caption>
		<thead>
			<tr>
				<th scope="col">YOUR TABLE HEAD</th>
				<th scope="col">YOUR TABLE HEAD</th>
				<th scope="col">YOUR TABLE HEAD</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>YOUR TABLE CONTENT</td>
				<td>YOUR TABLE CONTENT</td>
				<td>YOUR TABLE CONTENT</td>
			</tr>
			<tr>
				<td>YOUR TABLE CONTENT</td>
				<td>YOUR TABLE CONTENT</td>
				<td>YOUR TABLE CONTENT</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="3">
					YOUR TABLE FOOTER
				</td>
			</tr>
		</tfoot>
	</table>
</div>
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	The main mixin is called: <code class="classes">_tables({{ page.brand }})</code>
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}






{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Striped row table
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	Style alternate rows to help with content scanning.
{% endcapture %}


{% comment %} WHAT'S NEW TAB FOR CHANGES COMPARED TO THE LAST VERSION {% endcomment %}
{% capture whatsnew %}
{{ whatsnew }}{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% assign example = "ex2" %}


{% comment %} HTML TAB {% endcomment %}
{% capture HTML %}
<div class="table-responsive">
	<table class="table table-striped">
		<caption>
			YOUR TABLE CAPTION
		</caption>
		<thead>
			<tr>
				<th scope="col">YOUR TABLE HEAD</th>
				<th scope="col">YOUR TABLE HEAD</th>
				<th scope="col">YOUR TABLE HEAD</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>YOUR TABLE CONTENT</td>
				<td>YOUR TABLE CONTENT</td>
				<td>YOUR TABLE CONTENT</td>
			</tr>
			<tr>
				<td>YOUR TABLE CONTENT</td>
				<td>YOUR TABLE CONTENT</td>
				<td>YOUR TABLE CONTENT</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="3">
					YOUR TABLE FOOTER
				</td>
			</tr>
		</tfoot>
	</table>
</div>
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
	Modifier class:

	<ul>
		<li>
			<code class="classes">table-striped</code>
		</li>
	</ul>
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	{{ LESS }}
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}






{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Bordered table
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	Outlines each cell. Use a bordered table if displaying lots of complex data e.g. spreadsheet style.
{% endcapture %}


{% comment %} WHAT'S NEW TAB FOR CHANGES COMPARED TO THE LAST VERSION {% endcomment %}
{% capture whatsnew %}
{{ whatsnew }}{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% assign example = "ex3" %}


{% comment %} HTML TAB {% endcomment %}
{% capture HTML %}
<div class="table-responsive">
	<table class="table table-bordered">
		<caption>
			YOUR TABLE CAPTION
		</caption>
		<thead>
			<tr>
				<th scope="col">YOUR TABLE HEAD</th>
				<th scope="col">YOUR TABLE HEAD</th>
				<th scope="col">YOUR TABLE HEAD</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>YOUR TABLE CONTENT</td>
				<td>YOUR TABLE CONTENT</td>
				<td>YOUR TABLE CONTENT</td>
			</tr>
			<tr>
				<td>YOUR TABLE CONTENT</td>
				<td>YOUR TABLE CONTENT</td>
				<td>YOUR TABLE CONTENT</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="3">
					YOUR TABLE FOOTER
				</td>
			</tr>
		</tfoot>
	</table>
</div>
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
	Modifier class:

	<ul>
		<li>
			<code class="classes">table-bordered</code>
		</li>
	</ul>
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	{{ LESS }}
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}






{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Bordered, striped table
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	Multiple classes can be added to tables.
{% endcapture %}


{% comment %} WHAT'S NEW TAB FOR CHANGES COMPARED TO THE LAST VERSION {% endcomment %}
{% capture whatsnew %}
{{ whatsnew }}{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% assign example = "ex4" %}


{% comment %} HTML TAB {% endcomment %}
{% capture HTML %}
<div class="table-responsive">
	<table class="table table-striped table-bordered">
		<caption>
			YOUR TABLE CAPTION
		</caption>
		<thead>
			<tr>
				<th scope="col">YOUR TABLE HEAD</th>
				<th scope="col">YOUR TABLE HEAD</th>
				<th scope="col">YOUR TABLE HEAD</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>YOUR TABLE CONTENT</td>
				<td>YOUR TABLE CONTENT</td>
				<td>YOUR TABLE CONTENT</td>
			</tr>
			<tr>
				<td>YOUR TABLE CONTENT</td>
				<td>YOUR TABLE CONTENT</td>
				<td>YOUR TABLE CONTENT</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="3">
					YOUR TABLE FOOTER
				</td>
			</tr>
		</tfoot>
	</table>
</div>
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
	Modifier classes:

	<ul>
		<li>
			<code class="classes">table-striped</code>
		</li>
		<li>
			<code class="classes">table-bordered</code>
		</li>
	</ul>
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	{{ LESS }}
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}






{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Basic table with highlights
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	Use highlights to call out specific cells in a table. They can be added to an individual cell, multiple cells or to an entire row.
{% endcapture %}


{% comment %} WHAT'S NEW TAB FOR CHANGES COMPARED TO THE LAST VERSION {% endcomment %}
{% capture whatsnew %}
{{ whatsnew }}{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% assign example = "ex5" %}


{% comment %} HTML TAB {% endcomment %}
{% capture HTML %}
<div class="table-responsive">
	<table class="table">
		<caption>
			YOUR TABLE CAPTION
		</caption>
		<thead>
			<tr>
				<th scope="col">YOUR TABLE HEAD</th>
				<th scope="col">YOUR TABLE HEAD</th>
				<th scope="col">YOUR TABLE HEAD</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="table-highlight">YOUR TABLE CONTENT HIGHLIGHTED PER CELL</td>
				<td>YOUR TABLE CONTENT</td>
				<td>YOUR TABLE CONTENT</td>
			</tr>
			<tr class="table-highlight">
				<td>YOUR TABLE CONTENT HIGHLIGHTED PER ROW</td>
				<td>YOUR TABLE CONTENT HIGHLIGHTED PER ROW</td>
				<td>YOUR TABLE CONTENT HIGHLIGHTED PER ROW</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="3">
					YOUR TABLE FOOTER
				</td>
			</tr>
		</tfoot>
	</table>
</div>
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
	Modifier class:

	<ul>
		<li>
			<code class="classes">table-highlight</code>
		</li>
	</ul>
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	{{ LESS }}
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}
