{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Alerts in text
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	Convey meaning through colour using our cross-brand, reserved contextual colour palette.
{% endcapture %}


{% comment %} WHAT'S NEW TAB FOR CHANGES COMPARED TO THE LAST VERSION {% endcomment %}
{% capture whatsnew %}
	<h4 class="body-font whatsnew-headline">What&rsquo;s new since v1.0.2</h4>

	This version changed:
		<code class="classes">CSS/LESS</code>,
		<code class="classes">HTML</code>
	and
		<code class="classes">JS</code>

	<ul class="lists">
		<li>
			You know the feeling when you're trying to buy a beer at the corner pub on a Friday afternoon after you've just finished a sprint that was particularly
			difficult and the alert message says: "No more funds" and you know you left the other card at home and never got around to setup cardless cash? Long
			story short: You now get to make that alert message a bit easier on the eyes by adding icons inside of it to help make Friday afternoons fun again.
			(<a href="https://github.com/WestpacCXTeam/GUI-source/issues/177" target="_blank">#177</a>)
		</li>
	</ul>
{{ whatsnew }}{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% capture example %}
<p class="text-success">
	I'm text-success. I'm accessible.
</p>

<p class="text-info">
	I'm text-info. I'm accessible. Please don't use me for anything else.
</p>

<p class="text-warning">
	I'm text-warning. I'm accessible. Don't use me for anything else either.
</p>

<p class="text-danger">
	I'm text-danger. I'm accessible too
</p>
{% endcapture %}


{% comment %} HTML TAB, THIS WILL ALMOST ALWAYS BE THE SAME AS {{ example }} {% endcomment %}
{% capture HTML %}
{{ example }}
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
	Main classes:

	<ul>
		<li>
			<code class="classes">text-success</code>
		</li>
		<li>
			<code class="classes">text-info</code>
		</li>
		<li>
			<code class="classes">text-warning</code>
		</li>
		<li>
			<code class="classes">text-danger</code>
		</li>
	</ul>
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	The main mixin is called: <code class="classes">_alerts({{ page.brand }})</code>
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
	This module comes with the usual init method:

	<ul>
		<li>
			<code class="classes">GUI.alerts.init();</code> after the page has been loaded.
		</li>
		<li>
			<code class="classes">GUI.alerts.render();</code> for dynamically added elements after page load.
		</li>
	</ul>
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}






{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Alert boxes
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	Use alert boxes to differentiate and emphasise inline messaging. These are simple functional elements designed to clearly separate messaging from content.
	Avoid formatting text.<br>
	Add the close button to allow the message to be dismissed and removed from the content flow.<br>
	For a more friendly look, add an icon but <strong>make sure you have the icon in your blend</strong>.
{% endcapture %}


{% comment %} WHAT'S NEW TAB FOR CHANGES COMPARED TO THE LAST VERSION {% endcomment %}
{% capture whatsnew %}
{{ whatsnew }}{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% capture example %}
<div class="alert js-alert alert-success" role="alert">
	<button type="button" class="alert-close js-alertclose icon icon-cross" data-grunticon-embed>close</button>

	<div class="alert-body">
		<strong>Well done!</strong> You successfully read this important alert message.
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo dolor provident quasi nisi officia tempore fuga autem, animi iste molestiae, qui omnis
		doloribus aliquid ipsam rem fugiat veniam voluptatem accusamus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, unde quis, molestias nisi
		quae voluptates nemo quaerat nihil, consequuntur nobis ratione rerum asperiores eveniet dicta maiores quia nostrum. Pariatur, natus.
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, magnam illum harum consequatur, quo sunt impedit quam minus eaque saepe voluptas
		corrupti voluptatum, sapiente dolor sequi tempore maxime? Neque, obcaecati.
	</div>
</div>

<div class="alert alert-info js-alert" role="alert">
	<span class="alert-icon icon icon-size-md icon-face-happy" data-grunticon-embed></span>

	<div class="alert-body">
		<strong>Heads up!</strong> This alert needs your attention, but it's not super important.
	</div>
</div>

<div class="alert js-alert alert-warning" role="alert">
	<div class="alert-body">
		<strong>Warning!</strong> Better check yourself, you're not looking too good.
	</div>
</div>

<div class="alert js-alert alert-danger" role="alert">
	<button type="button" class="alert-close js-alertclose icon icon-cross" data-grunticon-embed>close</button>

	<span class="alert-icon icon icon-size-md icon-face-sad" data-grunticon-embed></span>

	<div class="alert-body">
		<strong>Oh snap!</strong> Change a few things up and try submitting again.
	</div>
</div>
{% endcapture %}


{% comment %} HTML TAB, THIS WILL ALMOST ALWAYS BE THE SAME AS {{ example }} {% endcomment %}
{% capture HTML %}
<div class="alert js-alert alert-success" role="alert">
	<button type="button" class="alert-close js-alertclose icon icon-cross" data-grunticon-embed>close</button>

	<button type="button" class="alert-close js-alertclose icon icon-cross" data-grunticon-embed>close</button>

	<div class="alert-body">
		<strong>HERE!</strong> YOUR ALERT TEXT!
	</div>
</div>
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
	Modifier classes:

	<ul>
		<li>
			<code class="classes">alert-success</code>
		</li>
		<li>
			<code class="classes">alert-info</code>
		</li>
		<li>
			<code class="classes">alert-warning</code>
		</li>
		<li>
			<code class="classes">alert-danger</code>
		</li>
	</ul>
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	{{ LESS }}
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
	{{ JS }}
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}







{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Alerts in forms - validaiton
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	Contextual styles for error, warning, and success on form controls. Any label, .form-control, and .help-block within that element will receive the validation
	styles.
</p>
<p class="example-description text-info">
	The input-fields in this example are not included and will have to be added to the blend separately.
{% endcapture %}


{% comment %} WHAT'S NEW TAB FOR CHANGES COMPARED TO THE LAST VERSION {% endcomment %}
{% capture whatsnew %}
{{ whatsnew }}{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% capture example %}
<div class="alert-form has-warning">
	<input type="text" class="input-field" placeholder="I'm a default text input" aria-describedby="txt4{{ version[0] | handleize }}">
	<p id="txt4{{ version[0] | handleize }}" class="alert-form-msg">Warning! Are you sure this is what you want to do?</p>
</div>


<div class="alert-form has-danger">
	<div class="input-field-select-wrapper">
		<select class="input-field-select" aria-describedby="txt7{{ version[0] | handleize }}">
			<option>Please select</option>
			<option>Option A</option>
			<option>Option B</option>
			<option>Option C</option>
			<option>Option D</option>
			<option>Option E</option>
			<option>Option F</option>
			<option>Option G</option>
		</select>
	</div>

	<p id="txt7{{ version[0] | handleize }}" class="alert-form-msg">Hey, wait! You need to select something.</p>
</div>
{% endcapture %}


{% comment %} HTML TAB, THIS WILL ALMOST ALWAYS BE THE SAME AS {{ example }} {% endcomment %}
{% capture HTML %}
<div class="alert-form has-danger">
	<input type="text" class="input-field" placeholder="I'm a default text input" aria-describedby="txt5{{ version[0] | handleize }}">
	<p id="txt5{{ version[0] | handleize }}" class="alert-form-msg">YOUR ALERT MESSAGE HERE.</p>
</div>
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
	{{ CSS }}
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	{{ LESS }}
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
	{{ JS }}
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}