{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Alerts in text
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	Use our reserved contextual colours to convey meaning.
{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% capture example %}
<p class="text-success">
	I'm text-success. I'm accessible.
</p>

<p class="text-info">
	I'm text-info. I'm accessible. Please don't use me for anything else.
</p>

<p class="text-warning">
	I'm text-warning. I'm accessible. Don't use me for anything else either.
</p>

<p class="text-danger">
	I'm text-danger. I'm accessible too
</p>
{% endcapture %}


{% comment %} HTML TAB, THIS WILL ALMOST ALWAYS BE THE SAME AS {{ example }} {% endcomment %}
{% capture HTML %}
	{{ example }}
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
	FILL-ME
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	FILL-ME
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
	FILL-ME
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}






{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Alert boxes without buttons
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	Use alert boxes to differentiate and emphasise inline messaging. These are simple functional elements designed to clearly separate messaging from content.
	Avoid formatting text.
{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% capture example %}
<div class="alert alert-success" role="alert">
	<strong>Well done!</strong> You successfully read this important alert message.
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo dolor provident quasi nisi officia tempore fuga autem, animi iste molestiae, qui omnis
	doloribus aliquid ipsam rem fugiat veniam voluptatem accusamus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, unde quis, molestias nisi
	quae voluptates nemo quaerat nihil, consequuntur nobis ratione rerum asperiores eveniet dicta maiores quia nostrum. Pariatur, natus.
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, magnam illum harum consequatur, quo sunt impedit quam minus eaque saepe voluptas
	corrupti voluptatum, sapiente dolor sequi tempore maxime? Neque, obcaecati.
</div>

<div class="alert alert-info" role="alert">
	<strong>Heads up!</strong> This alert needs your attention, but it's not super important.
</div>

<div class="alert alert-warning" role="alert">
	<strong>Warning!</strong> Better check yourself, you're not looking too good.
</div>

<div class="alert alert-danger" role="alert">
	<strong>Oh snap!</strong> Change a few things up and try submitting again.
</div>

<div class="alert alert-system" role="alert">
	<strong>System Error 8942:</strong> The server is no responding. Please try again later. Sorry for the inconvenience.
</div>
{% endcapture %}


{% comment %} HTML TAB, THIS WILL ALMOST ALWAYS BE THE SAME AS {{ example }} {% endcomment %}
{% capture HTML %}
	{{ example }}
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
	FILL-ME
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	FILL-ME
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
	FILL-ME
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}





{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Alert boxes with dismiss buttons
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	Addition of the close button to allow message to be dismissed and removed from the content flow.
{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% capture example %}
<div class="alert alert-success" role="alert">
	<button type="button" class="alert-close js-alertclose icon icon-cross" data-grunticon-embed>close</button>

	<strong>Well done!</strong> You successfully read this important alert message.
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo dolor provident quasi nisi officia tempore fuga autem, animi iste molestiae, qui omnis
	doloribus aliquid ipsam rem fugiat veniam voluptatem accusamus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, unde quis, molestias nisi
	quae voluptates nemo quaerat nihil, consequuntur nobis ratione rerum asperiores eveniet dicta maiores quia nostrum. Pariatur, natus.
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, magnam illum harum consequatur, quo sunt impedit quam minus eaque saepe voluptas
	corrupti voluptatum, sapiente dolor sequi tempore maxime? Neque, obcaecati.
</div>

<div class="alert alert-info" role="alert">
	<button type="button" class="alert-close js-alertclose icon icon-cross" data-grunticon-embed>close</button>

	<strong>Heads up!</strong> This alert needs your attention, but it's not super important.
</div>

<div class="alert alert-warning" role="alert">
	<button type="button" class="alert-close js-alertclose icon icon-cross" data-grunticon-embed>close</button>

	<strong>Warning!</strong> Better check yourself, you're not looking too good.
</div>

<div class="alert alert-danger" role="alert">
	<button type="button" class="alert-close js-alertclose icon icon-cross" data-grunticon-embed>close</button>

	<strong>Oh snap!</strong> Change a few things up and try submitting again.
</div>

<div class="alert alert-system" role="alert">
	<button type="button" class="alert-close js-alertclose icon icon-cross" data-grunticon-embed>close</button>

	<strong>System Error 8942:</strong> The server is no responding. Please try again later. Sorry for the inconvenience.
</div>
{% endcapture %}


{% comment %} HTML TAB, THIS WILL ALMOST ALWAYS BE THE SAME AS {{ example }} {% endcomment %}
{% capture HTML %}
	{{ example }}
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
	FILL-ME
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	FILL-ME
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
	FILL-ME
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}







{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Alerts in forms
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	Use contextual colours to communicate status by highlighting input fields in forms. Primarily used for error messaging.
{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% capture example %}
<label for="ex1">Some label</label>
<div class="alert-form">
	<input type="text" id="ex1" class="input-field" placeholder="I'm a xl text input" aria-describedby="txt1">
	<p id="txt1" class="alert-form-msg">This should not show.</p>
</div>

<label for="ex2">Some label</label>
<div class="alert-form has-success">
	<input type="text" id="ex2" class="input-field input-field-xl" placeholder="I'm a xl text input" aria-describedby="txt2">
	<p id="txt2" class="alert-form-msg">Success! We can approve this amount.</p>
</div>

<label for="ex3">Some label</label>
<div class="alert-form has-info">
	<input type="password" id="ex3" class="input-field input-field-lg" placeholder="I'm a lg text input" aria-describedby="txt3">
	<p id="txt3" class="alert-form-msg">Info! At least 10 characters</p>
</div>

<label for="ex4">Some label</label>
<div class="alert-form has-warning">
	<input type="text" id="ex4" class="input-field" placeholder="I'm a default text input" aria-describedby="txt4">
	<p id="txt4" class="alert-form-msg">Warning! Are you sure this is your name?</p>
</div>

<label for="ex5">Some label</label>
<div class="alert-form has-danger">
	<input type="text" id="ex5" class="input-field input-field-sm" placeholder="I'm a sm text input" aria-describedby="txt5">
	<p id="txt5" class="alert-form-msg">Danger! Your email address has an error in it.</p>
</div>

<label for="ex6">Some label</label>
<div class="alert-form has-danger">
	<textarea class="input-field" id="ex6" placeholder="I'm a default textarea" aria-describedby="txt6"></textarea>
	<p id="txt6" class="alert-form-msg">We can approve this amount.</p>
</div>

<label for="ex7">Some label</label>
<div class="alert-form has-danger">
	<div class="input-field-select-wrapper">
		<select class="input-field-select" id="ex7" aria-describedby="txt7">
			<option>Please select</option>
			<option>Option A</option>
			<option>Option B</option>
			<option>Option C</option>
			<option>Option D</option>
			<option>Option E</option>
			<option>Option F</option>
			<option>Option G</option>
		</select>
	</div>

	<p id="txt7" class="alert-form-msg">We can approve this amount.</p>
</div>
{% endcapture %}


{% comment %} HTML TAB, THIS WILL ALMOST ALWAYS BE THE SAME AS {{ example }} {% endcomment %}
{% capture HTML %}
	{{ example }}
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
	FILL-ME
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	FILL-ME
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
	FILL-ME
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}