{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Alerts in text
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	Convey meaning through colour using our cross-brand, reserved contextual colour palette.
{% endcapture %}


{% comment %} WHAT'S NEW TAB FOR CHANGES COMPARED TO THE LAST VERSION {% endcomment %}
{% capture whatsnew %}
	<h4 class="body-font whatsnew-headline">What&rsquo;s new since v1.0.0</h4>

	This version changed:
		<code class="classes">CSS/LESS</code>
	but not:
		<code class="classes">HTML</code>,
		<code class="classes">JS</code>

	<ul class="lists">
		<li>
			As the built-in faux italic cut off the descenders in alert messages, we changed the font style to a more native style.
			(<a href="https://github.com/WestpacCXTeam/GUI-source/issues/130" target="_blank">#130</a>)
		</li>
	</ul>
{{ whatsnew }}{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% assign example = "ex1" %}


{% comment %} HTML TAB {% endcomment %}
{% capture HTML %}
<p class="text-success">
	I'm text-success. I'm accessible.
</p>
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
	Main classes:

	<ul>
		<li>
			<code class="classes">text-success</code>
		</li>
		<li>
			<code class="classes">text-info</code>
		</li>
		<li>
			<code class="classes">text-warning</code>
		</li>
		<li>
			<code class="classes">text-danger</code>
		</li>
	</ul>
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	The main mixin is called: <code class="classes">_alerts({{ page.brand }})</code>
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
	This module comes with the usual init method:

	<ul>
		<li>
			<code class="classes">GUI.alerts.init();</code>
		</li>
	</ul>
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}






{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Alert boxes
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	Use alert boxes to differentiate and emphasise inline messaging. These are simple functional elements designed to clearly separate messaging from content.
	Avoid formatting text.<br>
	Add the close button to allow the message to be dismissed and removed from the content flow.
{% endcapture %}


{% comment %} WHAT'S NEW TAB FOR CHANGES COMPARED TO THE LAST VERSION {% endcomment %}
{% capture whatsnew %}
{{ whatsnew }}{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% assign example = "ex2" %}


{% comment %} HTML TAB {% endcomment %}
{% capture HTML %}
<div class="alert alert-success" role="alert">
	<button type="button" class="alert-close js-alertclose icon icon-cross" data-grunticon-embed>close</button>

	<strong>HERE!</strong> YOUR ALERT TEXT!
</div>
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
	Modifier classes:

	<ul>
		<li>
			<code class="classes">alert-success</code>
		</li>
		<li>
			<code class="classes">alert-info</code>
		</li>
		<li>
			<code class="classes">alert-warning</code>
		</li>
		<li>
			<code class="classes">alert-danger</code>
		</li>
	</ul>
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	{{ LESS }}
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
	{{ JS }}
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}







{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Alerts in forms - validation
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	Contextual styles for error, warning, and success on form controls. Any label, .form-control, and .help-block within that element will receive the validation
	styles.
</p>
<p class="example-description text-info">
	The input-fields in this example are not included and will have to be added to the blend separately.
{% endcapture %}


{% comment %} WHAT'S NEW TAB FOR CHANGES COMPARED TO THE LAST VERSION {% endcomment %}
{% capture whatsnew %}
{{ whatsnew }}{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% assign example = "ex3" %}


{% comment %} HTML TAB {% endcomment %}
{% capture HTML %}
<div class="alert-form has-danger">
	<input type="text" class="input-field" placeholder="I'm a default text input" aria-describedby="txt5{{ version[0] | handleize }}">
	<p id="txt5{{ version[0] | handleize }}" class="alert-form-msg">YOUR ALERT MESSAGE HERE.</p>
</div>
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
	{{ CSS }}
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	{{ LESS }}
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
	{{ JS }}
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}