{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Bullet list
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	Add these custom symbols to style basic lists. Adding the required modifier classes to each list item allows more flexibility without the need to create
	specific classes for every scenario.
{% endcapture %}


{% comment %} WHAT'S NEW TAB FOR CHANGES COMPARED TO THE LAST VERSION {% endcomment %}
{% capture whatsnew %}
{{ whatsnew }}{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% capture example %}
<ul class="lists">
	<li>Styled bullet list - primary</li>
	<li>Styled bullet list - primary</li>
	<li>
		Styled bullet list - primary

		<ul class="lists">
			<li>Styled bullet list - primary</li>
			<li>Styled bullet list - primary</li>
			<li>
				Styled bullet list - primary

				<ul class="lists">
					<li>Styled bullet list - primary</li>
					<li>Styled bullet list - primary</li>
				</ul>
			</li>
			<li>Styled bullet list - primary</li>
		</ul>
	</li>
	<li>Styled bullet list - primary</li>
</ul>

<hr>

<ul class="lists lists-hero">
	<li>Styled bullet list - hero</li>
	<li>Styled bullet list - hero</li>
	<li>
		Styled bullet list - hero

		<ul class="lists lists-hero">
			<li>Styled bullet list - primary</li>
			<li>Styled bullet list - primary</li>
			<li>Styled bullet list - primary</li>
		</ul>
	</li>
	<li>Styled bullet list - hero</li>
</ul>

<hr>

<ul class="lists lists-neutral">
	<li>Styled bullet list - neutral</li>
	<li>Styled bullet list - neutral</li>
	<li>
		Styled bullet list - neutral

		<ul class="lists lists-neutral">
			<li>Styled bullet list - neutral</li>
			<li>Styled bullet list - neutral</li>
			<li>Styled bullet list - neutral</li>
		</ul>
	</li>
	<li>Styled bullet list - neutral</li>
</ul>
{% endcapture %}


{% comment %} HTML TAB, THIS WILL ALMOST ALWAYS BE THE SAME AS {{ example }} {% endcomment %}
{% capture HTML %}
<ul class="lists">
	<li>Styled bullet list - primary</li>
	<li>Styled bullet list - primary</li>
	<li>Styled bullet list - primary</li>
</ul>
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
	Modifier classes:

	<ul>
		<li>
			<code class="classes">lists-hero</code>
		</li>
		<li>
			<code class="classes">lists-neutral</code>
		</li>
	</ul>
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	The main mixin is called: <code class="classes">_lists({{ page.brand }})</code>
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}






{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Link list
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	Use this style when the list items are clickable.
{% endcapture %}


{% comment %} WHAT'S NEW TAB FOR CHANGES COMPARED TO THE LAST VERSION {% endcomment %}
{% capture whatsnew %}
{{ whatsnew }}{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% capture example %}
<ul class="lists lists-linklist">
	<li><a href="{{ page.title | handleize }}/#url">Styled link list</a></li>
	<li><a href="{{ page.title | handleize }}/#url">Styled link list</a></li>
	<li>
		<a href="{{ page.title | handleize }}/#url">Styled link list</a>

		<ul class="lists lists-linklist">
			<li><a href="{{ page.title | handleize }}/#url">Styled link list</a></li>
			<li><a href="{{ page.title | handleize }}/#url">Styled link list</a></li>
			<li><a href="{{ page.title | handleize }}/#url">Styled link list</a></li>
		</ul>
	</li>
	<li><a href="{{ page.title | handleize }}/#url">Styled link list</a></li>
</ul>
{% endcapture %}


{% comment %} HTML TAB, THIS WILL ALMOST ALWAYS BE THE SAME AS {{ example }} {% endcomment %}
{% capture HTML %}
<ul class="lists lists-linklist">
	<li><a href="http://YOUR-URL.com.au">Styled link list</a></li>
	<li><a href="http://YOUR-URL.com.au">Styled link list</a></li>
	<li><a href="http://YOUR-URL.com.au">Styled link list</a></li>
</ul>
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
	Modifier classes:

	<ul>
		<li>
			<code class="classes">lists-linklist</code>
		</li>
	</ul>
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	{{ LESS }}
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}






{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Tick list
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
{% endcapture %}


{% comment %} WHAT'S NEW TAB FOR CHANGES COMPARED TO THE LAST VERSION {% endcomment %}
{% capture whatsnew %}
{{ whatsnew }}{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% capture example %}
<ul class="lists lists-tick">
	<li>Styled tick list</li>
	<li>Styled tick list</li>
	<li>
		Styled tick list

		<ul class="lists lists-tick">
			<li>Styled tick list</li>
			<li>Styled tick list</li>
			<li>Styled tick list</li>
		</ul>
	</li>
	<li>Styled tick list</li>
</ul>
{% endcapture %}


{% comment %} HTML TAB, THIS WILL ALMOST ALWAYS BE THE SAME AS {{ example }} {% endcomment %}
{% capture HTML %}
<ul class="lists lists-tick">
	<li>Styled tick list</li>
	<li>Styled tick list</li>
	<li>Styled tick list</li>
</ul>
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
	Modifier classes:

	<ul>
		<li>
			<code class="classes">lists-tick</code>
		</li>
	</ul>
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	{{ LESS }}
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}