{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Primary panel
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	Containers with headers and optional footers for grouping elements and text.
{% endcapture %}


{% comment %} WHAT'S NEW TAB FOR CHANGES COMPARED TO THE LAST VERSION {% endcomment %}
{% capture whatsnew %}
{{ whatsnew }}{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% assign example = "ex1" %}


{% comment %} HTML TAB {% endcomment %}
{% capture HTML %}
<div class="panel">
	<div class="panel-heading">
		<span class="panel-title">YOUR TITLE</span>
	</div>
	<div class="panel-body">
		YOUR TEXT
	</div>
	<div class="panel-footer">YOUR FOOTER</div>
</div>
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	The main mixin is called: <code class="classes">_panels({{ page.brand }})</code>
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}






{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Faint panel
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	Places less emphasis on the panel.
{% endcapture %}


{% comment %} WHAT'S NEW TAB FOR CHANGES COMPARED TO THE LAST VERSION {% endcomment %}
{% capture whatsnew %}
{{ whatsnew }}{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% assign example = "ex2" %}


{% comment %} HTML TAB {% endcomment %}
{% capture HTML %}
<div class="panel panel-faint">
	<div class="panel-heading">
		<span class="panel-title">YOUR TITLE</span>
	</div>
	<div class="panel-body">
		YOUR TEXT
	</div>
	<div class="panel-footer">YOUR FOOTER</div>
</div>
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
	Modifier class:

	<ul>
		<li>
			<code class="classes">panel-faint</code>
		</li>
	</ul>
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	{{ LESS }}
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}






{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Responsive panel
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	Applies additional padding for larger break points.
{% endcapture %}


{% comment %} WHAT'S NEW TAB FOR CHANGES COMPARED TO THE LAST VERSION {% endcomment %}
{% capture whatsnew %}
{{ whatsnew }}{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% assign example = "ex3" %}


{% comment %} HTML TAB {% endcomment %}
{% capture HTML %}
<div class="panel panel-responsive">
	<div class="panel-heading">
		<span class="panel-title">YOUR TITLE</span>
	</div>
	<div class="panel-body">
		YOUR TEXT
	</div>
	<div class="panel-footer">YOUR FOOTER</div>
</div>
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
	Modifier class:

	<ul>
		<li>
			<code class="classes">panel-responsive</code>
		</li>
	</ul>
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	{{ LESS }}
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}






{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Panel with table
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	Add table element to panels. Good for highlighting important tables.<br>
	The table in this example is not included and will have to be added to the blend separately.
</p>
<p class="example-description text-info">
	The table in this example is not included and will have to be added to the blend separately.
{% endcapture %}


{% comment %} WHAT'S NEW TAB FOR CHANGES COMPARED TO THE LAST VERSION {% endcomment %}
{% capture whatsnew %}
{{ whatsnew }}{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% assign example = "ex4" %}


{% comment %} HTML TAB {% endcomment %}
{% capture HTML %}
<div class="panel panel-default">
	<div class="panel-heading">
		<span class="panel-title">YOUR TITLE</span>
	</div>

	<div class="table-responsive">
		<table class="table table-striped">
			<tbody>
				<tr>
					<td>YOUR CELL</td>
					<td>YOUR CELL</td>
					<td>YOUR CELL</td>
				</tr>
				<tr>
					<td>YOUR CELL</td>
					<td>YOUR CELL</td>
					<td>YOUR CELL</td>
				</tr>
				<tr>
					<td>YOUR CELL</td>
					<td>YOUR CELL</td>
					<td>YOUR CELL</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	{{ LESS }}
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}