{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Primary panel
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	Containers with headers and optional footers for grouping elements and text.
{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% capture example %}
	<div class="panel">
		<div class="panel-heading">
			<span class="panel-title">Panel title</span>
		</div>
		<div class="panel-body">
			The chief difficulty Alice found at first was in managing her flamingo: she succeeded in getting its body tucked away, comfortably enough, under her arm,
			with its legs hanging down, but generally, just as she had got its neck nicely straightened out, and was going to give the hedgehog a blow with its head,
			it would twist itself round and look up in her face, with such a puzzled expression that she could not help bursting out laughing: and when she had got
			its head down, and was going to begin again, it was very provoking to find that the hedgehog had unrolled itself, and was in the act of crawling away:
			besides all this, there was generally a ridge or furrow in the way wherever she wanted to send the hedgehog to, and, as the doubled-up soldiers were
			always getting up and walking off to other parts of the ground, Alice soon came to the conclusion that it was a very difficult game indeed.
		</div>
		<div class="panel-footer">Panel footer</div>
	</div>
{% endcapture %}


{% comment %} HTML TAB, THIS WILL ALMOST ALWAYS BE THE SAME AS {{ example }} {% endcomment %}
{% capture HTML %}
	<div class="panel">
		<div class="panel-heading">
			<span class="panel-title">YOUR TITLE</span>
		</div>
		<div class="panel-body">
			YOUR TEXT
		</div>
		<div class="panel-footer">YOUR FOOTER</div>
	</div>
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	The main mixin is called: <code class="classes">_panels({{ page.brand }})</code>
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}






{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Faint panel
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	Places less emphasis on the panel.
{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% capture example %}
	<div class="panel panel-faint">
		<div class="panel-heading">
			<span class="panel-title">Panel title</span>
		</div>
		<div class="panel-body">
			The chief difficulty Alice found at first was in managing her flamingo: she succeeded in getting its body tucked away, comfortably enough, under her arm,
			with its legs hanging down, but generally, just as she had got its neck nicely straightened out, and was going to give the hedgehog a blow with its head,
			it would twist itself round and look up in her face, with such a puzzled expression that she could not help bursting out laughing: and when she had got
			its head down, and was going to begin again, it was very provoking to find that the hedgehog had unrolled itself, and was in the act of crawling away:
			besides all this, there was generally a ridge or furrow in the way wherever she wanted to send the hedgehog to, and, as the doubled-up soldiers were
			always getting up and walking off to other parts of the ground, Alice soon came to the conclusion that it was a very difficult game indeed.
		</div>
		<div class="panel-footer">Panel footer</div>
	</div>
{% endcapture %}


{% comment %} HTML TAB, THIS WILL ALMOST ALWAYS BE THE SAME AS {{ example }} {% endcomment %}
{% capture HTML %}
	<div class="panel panel-faint">
		<div class="panel-heading">
			<span class="panel-title">YOUR TITLE</span>
		</div>
		<div class="panel-body">
			YOUR TEXT
		</div>
		<div class="panel-footer">YOUR FOOTER</div>
	</div>
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
	Modifier class:

	<ul>
		<li>
			<code class="classes">panel-faint</code>
		</li>
	</ul>
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	{{ LESS }}
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}






{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Responsive panel
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	Applies additional padding for larger break points.
{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% capture example %}
	<div class="panel panel-responsive">
		<div class="panel-heading">
			<span class="panel-title">Panel title</span>
		</div>
		<div class="panel-body">
			The chief difficulty Alice found at first was in managing her flamingo: she succeeded in getting its body tucked away, comfortably enough, under her arm,
			with its legs hanging down, but generally, just as she had got its neck nicely straightened out, and was going to give the hedgehog a blow with its head,
			it would twist itself round and look up in her face, with such a puzzled expression that she could not help bursting out laughing: and when she had got
			its head down, and was going to begin again, it was very provoking to find that the hedgehog had unrolled itself, and was in the act of crawling away:
			besides all this, there was generally a ridge or furrow in the way wherever she wanted to send the hedgehog to, and, as the doubled-up soldiers were
			always getting up and walking off to other parts of the ground, Alice soon came to the conclusion that it was a very difficult game indeed.
		</div>
		<div class="panel-footer">Panel footer</div>
	</div>
{% endcapture %}


{% comment %} HTML TAB, THIS WILL ALMOST ALWAYS BE THE SAME AS {{ example }} {% endcomment %}
{% capture HTML %}
	<div class="panel panel-responsive">
		<div class="panel-heading">
			<span class="panel-title">YOUR TITLE</span>
		</div>
		<div class="panel-body">
			YOUR TEXT
		</div>
		<div class="panel-footer">YOUR FOOTER</div>
	</div>
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
	Modifier class:

	<ul>
		<li>
			<code class="classes">panel-responsive</code>
		</li>
	</ul>
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	{{ LESS }}
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}






{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Panel with table
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	Add table element to panels. Good for highlighting important tables.<br>
	The table in this example is not included and will have to be added to the blend seperately.
{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% capture example %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<span class="panel-title">Panel title</span>
		</div>

		<div class="table-responsive">
			<table class="table table-striped">
				<tbody>
					<tr>
						<td>1</td>
						<td>Alice</td>
						<td>Straightening</td>
						<td><i>Laughing</i></td>
					</tr>
					<tr>
						<td>2</td>
						<td>Flamingo</td>
						<td>Twisting</td>
						<td><i>Puzzeled</i></td>
					</tr>
					<tr>
						<td>3</td>
						<td>Hedgehog</td>
						<td>Unrolling</td>
						<td><i>Provoking</i></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
{% endcapture %}


{% comment %} HTML TAB, THIS WILL ALMOST ALWAYS BE THE SAME AS {{ example }} {% endcomment %}
{% capture HTML %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<span class="panel-title">YOUR TITLE</span>
		</div>

		<div class="table-responsive">
			<table class="table table-striped">
				<tbody>
					<tr>
						<td>YOUR CELL</td>
						<td>YOUR CELL</td>
						<td>YOUR CELL</td>
					</tr>
					<tr>
						<td>YOUR CELL</td>
						<td>YOUR CELL</td>
						<td>YOUR CELL</td>
					</tr>
					<tr>
						<td>YOUR CELL</td>
						<td>YOUR CELL</td>
						<td>YOUR CELL</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	{{ LESS }}
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}