{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Checkbox - Left
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	Checkbox sits to the left of the label.
{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% capture example %}
<label class="checkbox">
	<input class="checkbox-input" type="checkbox" name="option1a">
	<span class="checkbox-text">Setting 1</span>
</label>

<label class="checkbox">
	<input class="checkbox-input" type="checkbox" name="option1b">
	<span class="checkbox-text">Setting 1</span>
</label>

<label class="checkbox">
	<input class="checkbox-input" type="checkbox" name="option1c" disabled>
	<span class="checkbox-text">Setting 1</span>
</label>
{% endcapture %}


{% comment %} HTML TAB, THIS WILL ALMOST ALWAYS BE THE SAME AS {{ example }} {% endcomment %}
{% capture HTML %}
	{{ example }}
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
	FILL-ME
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	FILL-ME
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
	FILL-ME
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}




{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Checkbox - Right
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	Checkbox sits to the right of the label.
{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% capture example %}
	<label class="checkbox checkbox-flip">
		<input class="checkbox-input" type="checkbox" name="option2a">
		<span class="checkbox-text">Setting 2</span>
	</label>

	<label class="checkbox checkbox-flip">
		<input class="checkbox-input" type="checkbox" name="option2b">
		<span class="checkbox-text">Setting 2</span>
	</label>

	<label class="checkbox checkbox-flip">
		<input class="checkbox-input" type="checkbox" name="option2c" disabled checked>
		<span class="checkbox-text">Setting 2</span>
	</label>
{% endcapture %}


{% comment %} HTML TAB, THIS WILL ALMOST ALWAYS BE THE SAME AS {{ example }} {% endcomment %}
{% capture HTML %}
	{{ example }}
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
	FILL-ME
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	FILL-ME
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
	FILL-ME
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}






{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Checkboxes stacked
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	Checkboxes with long labels sometimes need to stack.
{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% capture example %}
	<p>
		<label class="checkbox">
			<input class="checkbox-input" type="checkbox" name="option3">
			<span class="checkbox-text">Setting 1</span>
		</label>
	</p>

	<p>
		<label class="checkbox">
			<input class="checkbox-input" type="checkbox" name="option4">
			<span class="checkbox-text">Setting 2</span>
		</label>
	</p>

	<p>
		<label class="checkbox">
			<input class="checkbox-input" type="checkbox" name="option5">
			<span class="checkbox-text">Setting 3 with lots of text<br>and so mach<br>that it might even wrap.</span>
		</label>
	</p>

	<p>
		<label class="checkbox">
			<input class="checkbox-input" type="checkbox" name="option6">
			<span class="checkbox-text">Setting 4</span>
		</label>
	</p>

	<p>
		<label class="checkbox">
			<input class="checkbox-input" type="checkbox" name="option7" disabled>
			<span class="checkbox-text">Setting 4</span>
		</label>
	</p>
{% endcapture %}


{% comment %} HTML TAB, THIS WILL ALMOST ALWAYS BE THE SAME AS {{ example }} {% endcomment %}
{% capture HTML %}
	{{ example }}
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
	FILL-ME
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	FILL-ME
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
	FILL-ME
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}