{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Visibility classes
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	Responsive applications generally require some degree of content curation to accommodate small devices and viewports. One method of doing this is to simply
	hide non essential content. These classes allow you to show and hide content based on media queries.
{% endcapture %}


{% comment %} WHAT'S NEW TAB FOR CHANGES COMPARED TO THE LAST VERSION {% endcomment %}
{% capture whatsnew %}
{{ whatsnew }}{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% capture example %}
{% endcapture %}


{% comment %} HTML TAB, THIS WILL ALMOST ALWAYS BE THE SAME AS {{ example }} {% endcomment %}
{% capture HTML %}
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
	Modifier classes:

	<ul>
		<li>
			<code class="classes">visible-xs-block</code>
		</li>
		<li>
			<code class="classes">visible-sm-block</code>
		</li>
		<li>
			<code class="classes">visible-md-block</code>
		</li>
		<li>
			<code class="classes">visible-lg-block</code>
		</li>
		<li>
			<code class="classes">visible-xs-inline</code>
		</li>
		<li>
			<code class="classes">visible-sm-inline</code>
		</li>
		<li>
			<code class="classes">visible-md-inline</code>
		</li>
		<li>
			<code class="classes">visible-lg-inline</code>
		</li>
		<li>
			<code class="classes">visible-xs-inline-block</code>
		</li>
		<li>
			<code class="classes">visible-sm-inline-block</code>
		</li>
		<li>
			<code class="classes">visible-md-inline-block</code>
		</li>
		<li>
			<code class="classes">visible-lg-inline-block</code>
		</li>
	</ul>
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	The main mixin is called: <code class="classes">_responsive-toggles({{ page.brand }})</code>
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}





{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Hidden classes
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	Responsive applications generally require some degree of content curation to accommodate small devices and viewports. One method of doing this is to simply
	hide non essential content. These classes allow you to show and hide content based on media queries.
{% endcapture %}


{% comment %} WHAT'S NEW TAB FOR CHANGES COMPARED TO THE LAST VERSION {% endcomment %}
{% capture whatsnew %}
{{ whatsnew }}{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% capture example %}
{% endcapture %}


{% comment %} HTML TAB, THIS WILL ALMOST ALWAYS BE THE SAME AS {{ example }} {% endcomment %}
{% capture HTML %}
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
	Modifier classes:

	<ul>
		<li>
			<code class="classes">hidden-xs</code>
		</li>
		<li>
			<code class="classes">hidden-sm</code>
		</li>
		<li>
			<code class="classes">hidden-md</code>
		</li>
		<li>
			<code class="classes">hidden-lg</code>
		</li>
	</ul>
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	{{ LESS }}
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}





{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Print classes
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	Use these classes to create print documents from your html content with options to specify what content is printed and what content is ignored.
{% endcapture %}


{% comment %} WHAT'S NEW TAB FOR CHANGES COMPARED TO THE LAST VERSION {% endcomment %}
{% capture whatsnew %}
{{ whatsnew }}{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% capture example %}
{% endcapture %}


{% comment %} HTML TAB, THIS WILL ALMOST ALWAYS BE THE SAME AS {{ example }} {% endcomment %}
{% capture HTML %}
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
	Modifier classes:

	<ul>
		<li>
			<code class="classes">visible-print-block</code>
		</li>
		<li>
			<code class="classes">visible-print-inline</code>
		</li>
		<li>
			<code class="classes">visible-print-inline-block</code>
		</li>
		<li>
			<code class="classes">hidden-print</code>
		</li>
	</ul>
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	{{ LESS }}
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}