{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Visibility classes
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	Responsive applications generally require some degree of content curation to accommodate small devices and viewports. One method of doing this is to simply
	hide non essential content. These classes allow you to show and hide content based on media queries.
{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% capture example %}
<div class="example">
	visible-xs-block:
	<div class="example-div visible-xs-block">visible-xs-block</div>
</div>
<div class="example">
	visible-sm-block:
	<div class="example-div visible-sm-block">visible-sm-block</div>
</div>
<div class="example">
	visible-md-block:
	<div class="example-div visible-md-block">visible-md-block</div>
</div>
<div class="example">
	visible-lg-block:
	<div class="example-div visible-lg-block">visible-lg-block</div>
</div>
<div class="example">
	visible-xs-inline:
	<div class="example-div visible-xs-inline">visible-xs-inline</div>
</div>
<div class="example">
	visible-sm-inline:
	<div class="example-div visible-sm-inline">visible-sm-inline</div>
</div>
<div class="example">
	visible-md-inline:
	<div class="example-div visible-md-inline">visible-md-inline</div>
</div>
<div class="example">
	visible-lg-inline:
	<div class="example-div visible-lg-inline">visible-lg-inline</div>
</div>
<div class="example">
	visible-xs-inline-block:
	<div class="example-div visible-xs-inline-block">visible-xs-inline-block</div>
</div>
<div class="example">
	visible-sm-inline-block:
	<div class="example-div visible-sm-inline-block">visible-sm-inline-block</div>
</div>
<div class="example">
	visible-md-inline-block:
	<div class="example-div visible-md-inline-block">visible-md-inline-block</div>
</div>
<div class="example">
	visible-lg-inline-block:
	<div class="example-div visible-lg-inline-block">visible-lg-inline-block</div>
</div>
{% endcapture %}


{% comment %} HTML TAB, THIS WILL ALMOST ALWAYS BE THE SAME AS {{ example }} {% endcomment %}
{% capture HTML %}
	{{ example }}
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
	FILL-ME
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	FILL-ME
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
	FILL-ME
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}





{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Hidden classes
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	Responsive applications generally require some degree of content curation to accommodate small devices and viewports. One method of doing this is to simply
	hide non essential content. These classes allow you to show and hide content based on media queries.
{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% capture example %}
<div class="example">
	hidden-xs:
	<div class="example-div hidden-xs">hidden-xs</div>
</div>
<div class="example">
	hidden-sm:
	<div class="example-div hidden-sm">hidden-sm</div>
</div>
<div class="example">
	hidden-md:
	<div class="example-div hidden-md">hidden-md</div>
</div>
<div class="example">
	hidden-lg:
	<div class="example-div hidden-lg">hidden-lg</div>
</div>
{% endcapture %}


{% comment %} HTML TAB, THIS WILL ALMOST ALWAYS BE THE SAME AS {{ example }} {% endcomment %}
{% capture HTML %}
	{{ example }}
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
	FILL-ME
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	FILL-ME
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
	FILL-ME
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}





{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Print classes
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	Use these classes to create print documents from your html content with options to specify what content is printed and what content is ignored.
{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% capture example %}
<div class="example">
	visible-print-block:
	<div class="example-div visible-print-block">visible-print-block</div>
</div>
<div class="example">
	visible-print-inline:
	<div class="example-div visible-print-inline">visible-print-inline</div>
</div>
<div class="example">
	visible-print-inline-block:
	<div class="example-div visible-print-inline-block">visible-print-inline-block</div>
</div>
<div class="example">
	hidden-print:
	<div class="example-div hidden-print">hidden-print</div>
</div>
{% endcapture %}


{% comment %} HTML TAB, THIS WILL ALMOST ALWAYS BE THE SAME AS {{ example }} {% endcomment %}
{% capture HTML %}
	{{ example }}
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
	FILL-ME
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	FILL-ME
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
	FILL-ME
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}