{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Brand font
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	Each brand has a display font typically used for headlines and marketing messages etc. These may come in several weights. If the brand font is a web font
	(not a system font) then it should be self hosted and implemented using the @fontface declaration. Suitable fallbacks should also be declared in the font
	stack.<br>
	<strong>Never use a web font without confirmation that you have the correct licence agreement in place.</strong>
{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% capture example %}
	<p>Chronicle Display</p>
	<h1 class="text-primary">I’m Chronicle Display bold</h1>
	<h1 class="text-primary">I’m Chronicle Display semi bold</h1>
	<h1 class="text-primary">I’m Chronicle Display roman</h1>
{% endcapture %}


{% comment %} HTML TAB, THIS WILL ALMOST ALWAYS BE THE SAME AS {{ example }} {% endcomment %}
{% capture HTML %}
	{{ example }}
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
	FILL-ME
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	FILL-ME
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
	FILL-ME
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}



{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Body font
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	Each brand has a body font typically used for editorial and user interface elements. The body font comes in several weights. If the body font is a web font
	(not a system font) then it should be self hosted and implemented using the @fontface declaration. Suitable fallbacks should also be declared in the font
	stack.<br>
	<strong>Never use a web font without confirmation that you have the correct licence agreement in place.</strong>
{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% capture example %}
	<p>Helvetica Neue</p>
	<h1 class="body-font text-primary">I’m Helvetica Neue bold</h1>
	<h1 class="body-font text-primary">I’m Helvetica Neue regular</h1>
	<h1 class="body-font text-primary">I’m Helvetica Neue light</h1>
{% endcapture %}


{% comment %} HTML TAB, THIS WILL ALMOST ALWAYS BE THE SAME AS {{ example }} {% endcomment %}
{% capture HTML %}
	{{ example }}
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
	FILL-ME
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	FILL-ME
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
	FILL-ME
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}




{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Font usage
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	The brand or body font can be applied to any text using a simple class declaration. Refer to the digital brand guidelines regarding the use of typography.<br>
	<strong>Never use a web font without confirmation that you have the correct licence agreement in place.</strong>
{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% capture example %}
	<h1 class="brand-font">I’m a Heading using the brand font</h1>
	<h1 class="body-font">I’m a Heading using the body font</h1>
{% endcapture %}


{% comment %} HTML TAB, THIS WILL ALMOST ALWAYS BE THE SAME AS {{ example }} {% endcomment %}
{% capture HTML %}
	{{ example }}
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
	FILL-ME
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	FILL-ME
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
	FILL-ME
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}